.env
.DS_Store

composer.phar
Homestead.json
Homestead.yaml

/.idea

/node_modules
/vendor

/app/temp_cache

/bootstrap/compiled.php

/build/logs
/build/coverage

/_ide_helper.php

/app/tests/_log
/app/config/packages

/public/storage
/public/packages
/public/js/min
/public/css/admin.*
/public/css/auth.*
/public/css/common.*
/public/css/site.*
/public/css/test.*
