/node_modules
/public/storage
/vendor
/.idea
/app/temp_cache
Homestead.json
Homestead.yaml

/bootstrap/compiled.php
/vendor


/build/logs
/build/coverage


/app/tests/_log


composer.phar


.DS_Store


/.idea
/_ide_helper.php


/app/config/packages
/public/packages


/node_modules


.env

/public/js/min
