@font-face {
  font-family: 'Roboto Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.ttf');
}
body {
  font-family: 'Roboto Regular' !important;
  margin: 0;
}
.clear {
  clear: both;
}
.display-none {
  display: none;
}
button {
  font-family: 'Roboto Regular';
  height: 40px;
  width: 150px;
  color: #ecf0f1;
  background: #27ae60;
  border: 0;
  font-size: 16px;
}
button:hover {
  background: #000;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #16a085;
}
a:hover {
  color: #16a085;
}
input {
  background: #fff;
  border: 1px solid #d3d3d3;
  padding: 6px;
  font-size: 15px;
  font-family: 'Roboto Regular';
}
textarea {
  font-family: 'Roboto Regular';
}
select {
  width: 500px;
  height: 30px;
  background: #fff;
  margin: 5px 0;
}
select[multiple='true'] {
  height: auto;
}
select[multiple='true'] option {
  font-size: 20px;
  margin: 0 0 2px;
}
select[multiple='true'] option:checked {
  background: #16a085 -webkit-linear-gradient(bottom, #16a085 0%, #16a085 100%);
  background: #16a085 linear-gradient(0deg, #16a085 0%, #16a085 100%);
}
.pager-wrap {
  width: 100%;
}
.pager-wrap .pager {
  text-align: center;
  margin: 20px 0;
}
.pager-wrap .pager button {
  background: #3498db;
  width: 40px;
}
.pager-wrap .pager button:hover {
  background: #000;
}
.pager-wrap .pager .current {
  background: #000;
}
.pager-wrap .pager span {
  padding: 10px;
  font-weight: bold;
}
button.danger {
  background: #e74c3c;
}
button.danger:hover {
  background: #c0392b;
}
button.move {
  background: #3498db;
}
button.move:hover {
  background: #2980b9;
}
.fa {
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
}
span.radio {
  color: #7f8c8d;
  font-size: 13px;
  line-height: 2;
  cursor: pointer;
}
span.radio-positive {
  color: #16a085;
  font-size: 18px;
}
span.radio-negative {
  color: #e74c3c;
  font-size: 18px;
}
.width100 {
  width: 100%;
}
input[type=checkbox] {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
input[type=checkbox] + label {
  cursor: pointer;
  font-size: 17px;
  line-height: 30px;
}
input[type=checkbox]:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type=checkbox]:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
input[type=checkbox]:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  background: #FFF;
}
input[type=checkbox]:not(checked) + label:after {
  font-family: 'FontAwesome';
  font-size: 17px;
  content: '\f00c';
  color: #16a085;
  position: absolute;
  left: 4px;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.multiselect-wrap {
  margin: 0 !important;
}
.multiselect-wrap .multiselect {
  background: #fff;
  width: 50%;
  border: 1px solid #e3e3e3;
  border-bottom: none;
  padding: 10px;
  margin: 0;
}
.multiselect-wrap .multiselect ul {
  padding: 0;
}
.multiselect-wrap .multiselect li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  color: #fff;
  margin: 2px 0;
  background: #16a085;
  border-radius: 5px;
}
.multiselect-wrap .multiselect span.fa {
  font-size: 13px;
  margin-left: 5px;
  position: relative;
  float: right;
  top: -3px;
  cursor: pointer;
}
.multiselect-wrap input {
  width: 50.8%;
  margin: 0;
  display: block;
  top: -4px;
  position: relative;
  border: 1px solid #e3e3e3;
}
.multiselect-wrap input:focus {
  outline: none;
}
.multiselect-wrap input.full {
  border-top: none;
}
.knockout-autocomplete.menu {
  background-color: #fff;
  padding: 3px 0;
  height: auto;
  width: 44%;
}
.knockout-autocomplete.menu li {
  text-transform: inherit;
  font-family: 'Roboto Regular';
  cursor: pointer;
  list-style: none;
  margin: 0px 0;
  padding: 3px 12px;
  display: block;
  background: #fff;
  color: #000;
}
.knockout-autocomplete.menu li.selected {
  background: #16a085;
  color: #fff;
}
.knockout-autocomplete.floating-menu {
  position: fixed;
  border: thin #aaa solid;
  margin: 0;
  margin-top: 3px;
  box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
}
.knockout-autocomplete.after-menu {
  position: absolute;
}
.filter {
  height: 100px;
  border-bottom: 20px solid #fff;
  padding: 20px 20px 0;
}
.filter div {
  display: inline-block;
  margin: 10px 0 0 10px;
  width: 48%;
}
.filter label {
  font-size: 12px;
  color: #7f8c8d;
}
.filter label span {
  color: #c0392b;
}
.filter input {
  padding: 6px;
  min-width: 200px;
  width: 95%;
}
.filter select {
  font-size: 15px;
  height: 33px;
  margin: 0;
  min-width: 200px;
  width: 100%;
}
.menu {
  top: 0;
  background: #fff;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  border-bottom: 1px solid #34495e;
  z-index: 10;
}
.menu ul {
  text-align: center;
}
.menu li {
  color: #2c3e50;
  list-style: none;
  display: inline;
  padding: 20px 20px;
  font-size: 15px;
  text-transform: uppercase;
  vertical-align: sub;
}
.menu li:hover {
  color: #fff;
  background: #2c3e50;
  cursor: pointer;
}
.menu li a {
  border: 0;
  color: #000;
}
.menu li a:hover {
  color: #fff;
}
.content {
  width: 85%;
  margin: 100px auto;
  background: #ecf0f1;
}
.org-accordion {
  width: 100%;
  height: 100%;
}
.org-accordion .org-item {
  width: 100%;
  line-height: 50px;
  height: 50px;
  background: #16a085;
  color: #ecf0f1;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #ecf0f1;
  cursor: pointer;
}
.org-accordion .org-item:hover {
  background: #34495e;
}
.org-accordion .org-item:active {
  background: #34495e;
}
.org-accordion .org-item-current {
  background: #34495e;
}
.org-accordion .org-item-current:hover {
  background: #34495e;
}
.org-accordion .org-item.text-alternative {
  text-transform: none;
  font-size: 17px;
  font-weight: bold;
}
.org-info {
  width: 100%;
}
.org-info div {
  display: inline-block;
  margin: 10px 15px;
}
.org-info label {
  font-size: 12px;
  color: #7f8c8d;
}
.org-info label span {
  color: #c0392b;
}
.org-info input {
  padding: 6px;
  width: 150px;
}
table.theme {
  width: 97%;
  padding: 15px 0;
  border-collapse: collapse;
  border-top: 1px solid #e4e4e4;
  cellpadding: 10px;
  text-align: center;
}
table.theme th {
  padding: 10px;
}
table.theme tbody tr:nth-child(odd) {
  background: #e4e4e4;
}
table.theme tbody tr:nth-child(even) {
  background: #d3d3d3;
}
table.theme td {
  padding: 5px;
  width: 7%;
}
table.theme td:nth-child(2) {
  width: 80%;
  text-align: left;
}
table.theme button {
  width: 35px;
  height: 30px;
}
table.theme a {
  border-bottom: 0;
}
table.theme a:hover {
  color: #2ABB9B;
}
table.themes {
  width: 100%;
}
table.themes td:first-child {
  width: 50%;
}
table.themes td:nth-child(2),
table.themes td:nth-child(3) {
  width: 13%;
}
table.students-table {
  width: 100%;
  padding: 15px 0;
  border-collapse: collapse;
  border-top: 1px solid #e4e4e4;
}
table.students-table tr > td:first-child,
table.students-table tr > td:last-child {
  text-align: center;
}
table.students-table tr > td:first-child {
  width: 100px;
}
table.students-table tr > td:last-child {
  width: 250px;
}
a.active-link {
  font-size: 13px;
  color: #16a085;
  float: right;
  border-bottom: 0;
}
a.active-link:hover {
  color: #000;
}
button.move {
  width: 150px;
}
button.add-section {
  width: 300px;
  background: #3498db;
}
button.add-section:hover {
  background: #2980b9;
}
button {
  background: #2ABB9B;
  width: 50px;
}
button:hover {
  background: #16a085;
}
.discipline-edit div:first-child {
  width: 20%;
}
.discipline-edit div:first-child input {
  width: 100%;
}
.discipline-edit div:nth-child(2) {
  width: 70%;
}
.discipline-edit div:nth-child(2) input {
  width: 94%;
}
.discipline-edit div:nth-child(3) {
  width: 93%;
}
.discipline-edit div:nth-child(3) .multiselect-wrap {
  width: 97%;
}
.discipline-edit div:nth-child(3) .multiselect-wrap .multiselect {
  width: 97%;
}
.discipline-edit div:nth-child(3) .multiselect-wrap input {
  width: 97.9%;
}
.discipline-edit div:nth-child(3) .knockout-autocomplete.menu {
  width: 93%;
}
.discipline-edit .float-btn-group {
  float: right;
  margin-right: 8%;
}
.discipline-info div:last-child {
  width: 100%;
}
.discipline-info div:last-child i:first-child {
  float: left;
}
.discipline-info div:last-child i:last-child {
  float: right;
  margin-right: 8%;
}
.themes .org-info {
  border-bottom: 20px solid #fff;
}
.themes .org-info .main-info {
  padding: 5px;
}
.themes .org-info .main-info div {
  width: 94%;
}
.themes .org-info .main-info input {
  min-width: 300px;
  width: 88%;
}
.themes .filter div {
  width: 32%;
}
.themes-add {
  border-bottom: 20px solid #fff;
}
.themes-add .select-theme,
.themes-add .select-complexity {
  width: 46%;
}
.themes-add .select-theme select,
.themes-add .select-complexity select {
  width: 100%;
}
.themes-add .time {
  width: 13%;
  position: relative;
  top: 20px;
}
.themes-add .time input {
  width: 30px;
  font-size: 25px;
  text-align: center;
}
.themes-add .question-text {
  width: 96%;
}
.themes-add .question-text textarea {
  width: 99%;
  height: 100px;
}
.themes-add .answers-input {
  width: 96%;
}
.themes-add .answers-input input {
  width: 92%;
}
.themes-add .answers-input button {
  width: 35px;
  height: 34px;
  margin-left: 15px;
}
.themes-add .answers-table {
  width: 96%;
}
.themes-add .answers-table table {
  width: 100%;
  border-top: 1px solid #7f8c8d;
  border-bottom: 1px solid #7f8c8d;
  padding: 7px;
}
.themes-add .answers-table table td {
  width: 65%;
}
.themes-add .answers-table table td:first-child {
  width: 5%;
}
.themes-add .answers-table table td:last-child {
  width: 20%;
}
.themes-add .btn-larger-group {
  width: 100%;
}
.themes-add .btn-larger-group button {
  float: right;
  width: 200px;
  margin-right: 45px;
}
.themes-add .upload-image {
  width: 80%;
  position: relative;
  top: -17px;
  margin: 0;
}
.themes-add .upload-image div {
  display: block;
  margin: 0;
}
.themes-add .upload-image .image-holder {
  width: 70px;
  height: 70px;
}
.themes-add .upload-image .image-holder .remove {
  background: #000;
  opacity: 0.5;
  width: 15px;
  height: 15px;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
  float: right;
  font-size: 15px;
  cursor: pointer;
}
.themes-add .upload-image .image-holder img {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
  position: absolute;
  cursor: pointer;
}
.test .org-info-details {
  width: 95%;
}
.test .org-info-details .name {
  width: 45%;
}
.test .org-info-details .type {
  width: 15%;
}
.test .org-info-details .time {
  width: 7%;
}
.test .org-info-details .btn-group {
  float: right;
}
.test .org-info-edit {
  width: 94%;
}
.test .org-info-edit .name {
  width: 68%;
}
.test .org-info-edit .name input {
  width: 97%;
}
.test .org-info-edit .type {
  width: 25%;
}
.test .org-info-edit .type select {
  width: 100%;
  height: 32px;
  margin: 0;
  font-size: 15px;
}
.test .org-info-edit .time,
.test .org-info-edit .tryouts {
  width: 15%;
}
.test .org-info-edit .time input,
.test .org-info-edit .tryouts input {
  width: 35px;
  font-size: 15px;
  text-align: center;
}
.test .org-info-edit .tryouts {
  width: 50%;
}
.test .org-info-edit .random {
  width: 20%;
}
.test .org-info-edit .themes {
  width: 97%;
}
.test .org-info-edit .themes .multiselect-wrap {
  width: 99%;
}
.test .org-info-edit .themes .multiselect-wrap .multiselect {
  width: 99%;
}
.test .org-info-edit .themes .multiselect-wrap input {
  width: 99.9%;
}
.test .org-info-edit .themes .knockout-autocomplete.menu {
  width: 95%;
}
.test .org-info-edit .btn-group {
  float: right;
}
.test .org-info-edit .btn-group:after {
  clear: both;
}
.institutes {
  width: 100%;
  height: 100%;
}
.institutes .institute {
  width: 100%;
  line-height: 50px;
  height: 50px;
  background: #16a085;
  color: #ecf0f1;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px solid #ecf0f1;
}
.institutes .institute.font-settings {
  text-transform: none;
  font-size: 17px;
  font-weight: bold;
}
.institutes .institute:hover {
  background: #34495e;
}
.institutes .institute:active {
  background: #34495e;
}
.institutes .institute-current {
  background: #34495e;
}
.institutes .institute-current:hover {
  background: #34495e;
}
.institutes .profiles {
  width: 100%;
  background: #e4e4e4;
}
.institutes .profiles .profile {
  background: #16a085;
  color: #ecf0f1;
  width: 250px;
  height: 150px;
  margin: 5px 10px 5px 0px;
  line-height: 45px;
  float: left;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.institutes .profiles .profile:hover {
  background: #16a085;
}
.institutes .profiles .profile:active {
  background: #34495e;
}
.institutes .profiles .profile button:hover {
  background: #34495e;
}
.info-group .details-group div {
  display: inline-block;
  margin: 10px 15px;
}
.info-group div {
  display: inline-block;
  margin: 10px 15px;
}
.info-group label {
  font-size: 12px;
  color: #7f8c8d;
}
.info-group .study-form {
  font-size: 13px;
  color: #7f8c8d;
  line-height: 1.8;
  cursor: pointer;
}
.info-group .study-form-selected {
  font-size: 18px;
  color: #16a085;
}
.info-group .group-name input {
  width: 200px;
}
.info-group input {
  padding: 6px;
  width: 70px;
}
.tyle-btn {
  color: #ecf0f1;
  width: 170px;
  background: #34495e;
}
.tyle-btn-negative {
  border: 2px solid #34495e;
  background: #16a085;
}
button.width200 {
  width: 200px;
}
button.sq-small {
  width: 35px;
  height: 34px;
  margin-left: 5px;
}
.image-uploader .row {
  margin-bottom: 15px;
  margin-right: -15px;
  margin-left: -15px;
}
.image-uploader .row:after {
  clear: both;
}
.image-uploader .row .img-preview {
  width: 25%;
  float: right;
}
.image-uploader .row .file-input {
  width: 70%;
  left: 10px;
  float: left;
  position: relative;
  z-index: 2;
}
.image-uploader .upload-btn {
  top: 0px;
  color: #fff;
  padding: 7.5px;
  background: #2ABB9B;
}
.image-uploader .upload-btn:hover {
  background: #16a085;
}
.image-uploader img {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
}
.tooltip_templates {
  display: none;
}
.width60 {
  width: 60%;
}
.manual h1 {
  text-align: center;
  padding: 30px;
  color: #16a085;
}
.manual h3 {
  padding: 10px 0 0 15px;
}
.manual p {
  text-align: justify;
  padding: 10px 30px 20px 0;
}
.manual .manual-image {
  max-height: 700px;
  max-width: 700px;
  width: auto;
  height: auto;
}
.expanded-image {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}
.expanded-image img {
  display: block;
  margin: 0 auto;
}
.LoadingImage {
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0.3;
  position: absolute;
  display: none;
}
.LoadingImage img {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: -20%;
}
.section-info {
  padding-top: 20px;
  padding-bottom: 10px;
}
.section-info p {
  text-align: center;
}
.section-name {
  padding: 20px;
}
.section-name input {
  width: 85%;
  margin-left: 10px;
}
.section-name label {
  font-size: 18px;
}
.section-buttons {
  padding: 10px;
  text-align: center;
}
.section-buttons button {
  width: 100px;
}
#sections-modal {
  width: 800px;
}
#sections-modal table td:first-child {
  width: 5%;
}
#sections-modal table td:nth-child(2) {
  width: 70%;
}
#sections-modal table td:last-child {
  width: 15%;
}
#sections-modal table td:last-child button.info {
  background: #3498db;
}
.section {
  padding: 20px;
}
.section div:first-child {
  text-align: center;
  font-size: 18px;
}
#cancel-modal div {
  text-align: center;
  font-size: 18px;
  padding: 15px;
}
.popup-delete {
  height: 80px;
}
.popup-delete div:last-child {
  float: right;
}
.popup-delete div:last-child button:first-child {
  margin: 0 5px;
}
.plan-details div {
  display: inline-table;
  margin: 10px 15px 25px;
  width: 11%;
}
.plan-details div label {
  font-size: 12px;
  color: #7f8c8d;
  line-height: 40px;
}
.plan-details div:first-child {
  width: 15%;
}
.plan-details div .plan-form {
  font-size: 13px;
  color: #7f8c8d;
  line-height: 1.8;
  cursor: pointer;
}
.plan-details div .plan-form-selected {
  font-size: 18px;
  color: #16a085;
}
.plan-details:nth-child(odd) {
  background: #e4e4e4;
}
.plan-details input {
  width: 70px;
}
.plan-details select {
  width: 200px;
}

/*# sourceMappingURL=admin.css.map */
