@font-face {
  font-family: 'Roboto Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.ttf');
}
html,
body {
  position: relative;
  height: 100%;
  margin: 0!important;
}
body {
  background: #F2F1EF;
  position: relative;
  font-family: 'Roboto Regular' !important;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
  height: 50px;
}
.content {
  width: 90%;
  margin: 3% auto;
}
.footer {
  height: 50px;
  background: #666666;
  opacity: 0.8;
  color: #666666;
}
.footer-copyright {
  background: #666666;
  color: #fff;
  line-height: 50px;
  text-indent: 40px;
  font-size: 12px !important;
  font-weight: 200;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.5);
}
.loading img {
  max-height: 70px;
  max-width: 70px;
  width: auto;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.menu {
  background: white;
  box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.5);
}
.menu a {
  text-decoration: none;
  border: none;
  font-size: 18px;
  line-height: 60px;
  padding: 18px 15px;
  color: #8D9899;
  font-weight: 600;
  margin: 0 -2px;
}
.menu a:first-child {
  margin-left: 0;
}
.menu a.user {
  margin-right: 0;
  float: right;
  padding: 0 15px;
  line-height: 57px;
}
.menu a.user:hover {
  padding-bottom: 0;
}
.menu a:hover,
.menu a.current {
  color: #5D8CAE;
  padding-bottom: 15px;
  border-bottom: 3px solid #5D8CAE;
}
.menu a.user:hover + .menu-dd {
  display: block;
}
.menu .menu-dd {
  z-index: 1000;
  display: none;
  position: absolute;
  background: #fff;
  right: 0;
  padding: 0 2px;
  border-radius: 0 0px 0px 3px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(offX=5, offY=5, color=#000000);
}
.menu .menu-dd a {
  display: block;
  line-height: 25px;
  margin-right: 0;
}
.menu .menu-dd:hover {
  display: block;
}
.form-heights {
  line-height: 27px;
}
h3 {
  color: #6C7A89;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right !important;
}
label.title {
  display: block;
  font-size: 12px;
  color: #7f8c8d;
  margin-bottom: 3px;
}
label.adder {
  color: #5D8CAE;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
button.approve,
button.cancel,
button.remove {
  width: auto;
  color: #fff;
  height: 40px;
  padding: 0 13px;
  font-size: 15px;
}
button.approve {
  background: #5D8CAE;
}
button.approve:hover {
  background: #4F7794;
}
button.cancel,
button.cancel:hover,
button.remove {
  background: #BFBFBF;
}
button.cancel:hover,
button.cancel:hover:hover,
button.remove:hover {
  background: #ACACAC;
}
button.remove:hover {
  background: #D24D57;
}
button.mini {
  width: 48px;
  font-size: 18px;
}
span.info {
  font-size: 16px;
}
span.required {
  content: '*';
  color: #D24D57;
}
input[disabled] {
  background-color: #F2F1EF;
}
.pointer {
  cursor: pointer;
}
input[type=radio].custom-radio {
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin: 0 3px 0 0;
}
input[type=radio].custom-radio + label {
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  display: block;
}
input[type=radio].custom-radio:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type=radio].custom-radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
input[type=radio].custom-radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
input[type=radio].custom-radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #5D8CAE;
  opacity: 0;
  transition: all .2s;
}
input[type=radio].custom-radio:checked + label:after {
  opacity: 1;
}
input[type=checkbox].custom-checkbox {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
input[type=checkbox].custom-checkbox + label {
  display: block;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
}
input[type=checkbox].custom-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type=checkbox].custom-checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
input[type=checkbox].custom-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #CDD1DA;
  background: #fff;
}
input[type=checkbox].custom-checkbox:not(checked) + label:after {
  font-family: 'FontAwesome';
  font-size: 17px;
  content: '\f00c';
  color: #5D8CAE;
  position: absolute;
  left: 2px;
  top: -2px;
  opacity: 0;
  transition: all .2s;
}
input[type=checkbox].custom-checkbox:checked + label:after {
  opacity: 1;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear {
  clear: both;
}
.items,
.layer {
  display: inline-block;
  background: #fff;
  width: 70%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.items h1,
.layer h1 {
  color: #BFBFBF;
  padding: 15px;
}
.layer {
  width: 100%;
  display: block;
  margin: 30px 0;
}
.filter {
  display: inline-block;
  background: #fff;
  float: right;
  width: 20%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: fixed;
  margin: 0 3%;
}
.filter .filter-block {
  width: 100%;
  margin-bottom: 7px;
}
.filter .filter-block input[type=text],
.filter .filter-block select {
  width: 100%;
}
.filter span.clear {
  float: right;
  font-size: 15px;
  margin-top: 10px;
  color: #7f8c8d;
  cursor: pointer;
}
.filter span.clear:hover {
  color: #5D8CAE;
}
.details {
  width: 100%;
  height: auto;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
}
.details-row {
  width: 100%;
  height: auto;
}
.details-column {
  display: inline-block;
  height: auto;
}
.pager-wrap {
  width: 100%;
}
.pager-wrap .pager {
  text-align: center;
  margin: 20px 0 0px;
}
.pager-wrap .pager button {
  color: #6C7A89;
  background: #EDEEF0;
  width: 40px;
}
.pager-wrap .pager button:hover,
.pager-wrap .pager button.current {
  color: #fff;
  background: #5D8CAE;
}
.pager-wrap .pager span {
  padding: 10px;
  font-weight: bold;
}
span.radio {
  color: #7f8c8d;
  font-size: 13px;
  cursor: pointer;
}
span.radio-important,
span.radio-positive,
span.radio-negative,
span.radio-neutral {
  font-size: 18px;
  cursor: pointer;
}
span.radio-important {
  color: #5D8CAE;
}
span.radio-positive {
  color: #2ABB9B;
}
span.radio-negative {
  color: #D24D57;
}
span.radio-neutral {
  color: #7f8c8d;
}
span.radio-neutral:hover {
  color: #5D8CAE;
}
span.clickable,
span .correct,
span .incorrect {
  cursor: pointer;
  font-weight: bold;
}
span .clickable {
  color: #5D8CAE;
}
span .correct {
  color: #16a085;
}
span .incorrect {
  color: #D24D57;
}
span.coloredin-patronus {
  color: #5D8CAE !important;
}
span.coloredin-crimson {
  color: #D24D57 !important;
}
span.date-string {
  font-size: 12px;
}
.bold {
  font-weight: bold;
}
.image-expander {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}
.image-expander img {
  max-height: 95%;
  max-width: 95%;
  width: auto;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dashed #6C7A89;
  cursor: pointer;
}
a:hover {
  color: #5D8CAE;
  border-bottom: 1px dashed #5D8CAE;
}
.width-auto {
  width: auto;
}
.width-zero {
  width: 0;
}
.width-5p {
  width: 5%;
}
.width-10p {
  width: 10%;
}
.width-13p {
  width: 13%;
}
.width-15p {
  width: 15%;
}
.width-19p {
  width: 19%;
}
.width-20p {
  width: 20%;
}
.width-25p {
  width: 25%;
}
.width-27p {
  width: 27%;
}
.width-30p {
  width: 30%;
}
.width-31p {
  width: 31%;
}
.width-35p {
  width: 35%;
}
.width-38p {
  width: 38%;
}
.width-39p {
  width: 39%;
}
.width-40p {
  width: 40%;
}
.width-45p {
  width: 45%;
}
.width-48p {
  width: 48%;
}
.width-50p {
  width: 50%;
}
.width-55p {
  width: 55%;
}
.width-60p {
  width: 60%;
}
.width-65p {
  width: 65%;
}
.width-70p {
  width: 70%;
}
.width-75p {
  width: 75%;
}
.width-80p {
  width: 80%;
}
.width-85p {
  width: 85%;
}
.width-90p {
  width: 90%;
}
.width-95p {
  width: 95%;
}
.width-98p {
  width: 98%;
}
.width-99p {
  width: 99%;
}
.width-100p {
  width: 100%;
}
.width-80 {
  width: 80px !important;
}
.height-19 {
  height: 19px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-100 {
  height: 100px;
}
.minw-20 {
  min-width: 20px;
}
.minw-50 {
  min-width: 50px;
}
.minw-100 {
  min-width: 100px;
}
.minw-120 {
  min-width: 120px;
}
.minw-130 {
  min-width: 130px;
}
.minw-185 {
  min-width: 185px;
}
.minw-200 {
  min-width: 200px;
}
.minw-220 {
  min-width: 220px;
}
.minw-220 {
  min-width: 220px;
}
.minh-40 {
  min-height: 40px !important;
}
.maxw-100p {
  max-width: 100%;
}
.maxw-50 {
  max-width: 50px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-30 {
  margin-right: 30px;
}
.zero-margin {
  margin: 0 !important;
}
.pre-line {
  white-space: pre-line;
}
.pre-wrap {
  white-space: pre-wrap;
}
.clear {
  clear: both;
}
.display-none {
  display: none;
}
button {
  font-family: 'Roboto Regular';
  height: 40px;
  width: auto;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
textarea {
  font-family: 'Roboto Regular';
}
.fa {
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
}
.text-center {
  text-align: center;
}
#change-user-password-modal {
  width: 350px;
}
#change-user-password-modal input {
  padding: 0;
  text-indent: 10px;
}
#change-user-password-modal .float-buttons {
  margin-top: 20px;
  min-height: 40px;
}
#information-modal,
#confirmation-modal {
  max-width: 450px;
  max-height: 300px;
}
#information-modal h3,
#confirmation-modal h3 {
  white-space: pre-line;
}
#information-modal button,
#confirmation-modal button {
  min-width: 90px;
  margin: 0 0 0 1% !important;
}
#information-modal p,
#confirmation-modal p {
  color: #7f8c8d;
  font-size: 12px;
  text-align: justify;
  padding: 15px 0;
  white-space: pre-line;
}
#errors-modal {
  width: 300px;
  max-height: 350px;
  overflow-y: auto;
}
#errors-modal h3 {
  display: inline-block;
}
#errors-modal h4 {
  padding: 0 5px 5px;
  margin: 0 5px 5px;
  white-space: pre-line;
}
#errors-modal .fa {
  padding-right: 5px;
  font-size: 20px;
  color: #D24D57;
}
#errors-modal button {
  width: 70px;
  height: 30px;
  font-size: 15px;
  float: right;
}
.progressBar {
  position: relative;
  width: 100%;
  height: 13px;
  margin: 20px auto;
  border: 1px solid #BFBFBF;
  border-radius: 3px;
  overflow: hidden;
}
.progressBar div {
  position: relative;
  height: 100%;
  background-color: #5D8CAE;
}
.progressBar .progressText {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  top: -3px;
  font-size: 12px;
  left: 0;
  right: 0;
  background-color: transparent;
}
.a-style-none a,
.a-style-none a:hover {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  border-bottom: 0;
}
span.interval {
  font-size: 17px;
  line-height: 25px;
  padding: 0 5px 0px 5px;
  margin: 0px 5px 0px 0;
  cursor: pointer;
}
span.interval:hover {
  border-bottom: 2px solid #5D8CAE;
}
span.interval.current {
  color: #5D8CAE;
  border-bottom: 2px solid #5D8CAE;
}
h3 {
  color: #6C7A89;
}
input {
  background: #fff;
  padding: 0 !important;
  text-indent: 5px;
  height: 30px;
  font-size: 15px;
  border: 1px solid #BFBFBF;
}
select {
  height: 30px;
  font-size: 14px;
  text-indent: 2px;
  border: 1px solid #BFBFBF;
  background: #fff;
  border-radius: 2px;
  font-family: "Roboto Regular" !important;
}
button {
  cursor: pointer;
}
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.items-head,
.layer-head {
  margin: 15px 0;
}
.items-head label.adder,
.layer-head label.adder {
  float: right;
  line-height: 22px;
}
.items-head h1,
.layer-head h1 {
  display: inline;
}
.items-head h3,
.layer-head h3 {
  color: #6C7A89;
}
.items-body,
.layer-body {
  margin: 20px 0;
}
.items.disciplines .item .tags {
  text-align: right;
  float: right;
  min-width: 80px;
}
.item {
  background: #EDEEF0;
  color: #6C7A89;
  font-size: 16px;
  padding: 9px;
  cursor: pointer;
  margin: 1px 0;
}
.item:hover,
.item.current {
  background: #5D8CAE;
  color: #fff;
}
.item:hover span.tag,
.item.current span.tag {
  color: #fff;
}
.item.no-hover:hover {
  background: #EDEEF0;
  color: #6C7A89;
}
.item span.tag {
  color: #EDEEF0;
  margin: 0 8px;
  font-size: 23px;
}
.item.student .fa {
  margin: 0 5px;
}
.item.student:hover .fa {
  color: #fff;
}
.item.current > .fa {
  color: #fff;
}
.items .result a,
.items .result a:hover {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  border-bottom: 0;
}
.items .result a {
  display: block;
  width: 100%;
  border: 1px solid #BFBFBF;
}
.items .result a:hover {
  border: 1px solid #5D8CAE;
}
.details {
  margin-top: -2px;
}
.details-column.tile-boredom {
  background: #EDEEF0;
  width: 150px;
  height: 110px;
  padding: 5px 15px;
}
.details-column.tile-boredom span {
  display: block;
  font-size: 15px;
  color: #BFBFBF;
  line-height: 15px;
  margin: 7px;
  font-weight: bold;
  cursor: pointer;
}
.details-column.tile-boredom span:hover {
  color: #6C7A89;
}
.details-column {
  margin: 1%;
}
.details-column input[type=text],
.details-column input[type=password],
.details-column select,
.details-column textarea {
  width: 100%;
}
.details-column input[type=text].time,
.details-column input[type=password].time,
.details-column select.time,
.details-column textarea.time {
  width: 50px;
  text-align: center;
}
.details-column input[type=text].attempts,
.details-column input[type=password].attempts,
.details-column select.attempts,
.details-column textarea.attempts {
  width: 130px;
  text-align: center;
}
.details-row.float-buttons {
  min-height: 60px;
}
.details-row.float-buttons button {
  float: right;
  margin: 0 1% 0 0;
}
.details-row.variants input {
  width: 93%;
  height: 40px;
}
.details-row.variants button {
  float: right;
}
.details-row.theme input {
  width: 87%;
  height: 40px;
}
.details-row.theme span {
  min-width: 100px;
  width: 15%;
}
.details-row.date label {
  float: right;
  position: relative;
  top: -20px;
  right: 5px;
  color: #BFBFBF;
  font-size: 12px;
}
.details-row.special-item {
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  margin-top: -1px;
  cursor: pointer;
  font-size: 16px;
}
.details-row.special-item:last-child {
  margin-bottom: -1px;
}
.details-row.special-item:hover,
.details-row.special-item.current {
  background: #5D8CAE;
  color: #fff;
}
.details-row.special-item:hover span.tagged,
.details-row.special-item.current span.tagged {
  color: #fff;
}
.details-row.special-item span.tagged {
  color: #5D8CAE;
  float: right;
}
.details-row.special-item-details {
  background: #EDEEF0;
  color: #6C7A89;
}
.details-row.special-item-details span.icon {
  font-size: 25px;
  margin: 0 20px 0 0;
  float: left;
  padding: 0px;
  width: 20px;
}
.details-row.special-item-details span.text {
  white-space: pre-wrap;
  font-size: 13px;
  display: table;
  text-align: justify;
}
.details-row.special-item-details .result-setter input {
  max-width: 83px;
}
.stripe-table {
  width: 100%;
  padding: 15px 0;
  border-collapse: collapse;
  margin: 10px 0;
}
.stripe-table th {
  padding: 10px;
}
.stripe-table tbody tr:nth-child(odd) {
  background: #EDEEF0;
}
.stripe-table tbody tr:nth-child(even) {
  background: #BDC3C7;
}
.stripe-table td {
  padding: 5px;
}
.stripe-table button.remove {
  background: #D24D57;
}
table.monitoring {
  width: 100%;
}
table.monitoring thead tr td {
  text-align: center;
  padding: 7px 15px;
  background: #BFBFBF;
  color: #fff;
}
table.monitoring tr td {
  border-bottom: 1px solid #EDEEF0;
  padding: 3px 15px;
}
table.monitoring .progressBar {
  margin: 0!important;
}
table.werewolf {
  width: 100%;
  border-spacing: 0;
  cursor: default;
}
table.werewolf thead tr th {
  text-align: center;
  padding: 7px 15px;
  background: #BFBFBF;
  color: #fff;
}
table.werewolf tr td {
  border-bottom: 1px solid #EDEEF0;
  padding: 3px 15px;
}
table.werewolf td.action-holder {
  padding: 3px 0px;
  text-align: right;
}
table.werewolf.themes {
  margin-top: -2px;
}
table.werewolf.themes tr {
  cursor: pointer;
}
table.werewolf.themes tr .actions {
  visibility: hidden;
}
table.werewolf.themes tr.adder-row {
  height: 40px;
  font-size: 16px;
  color: #6C7A89;
  cursor: pointer;
}
table.werewolf.themes tr.adder-row .fa {
  margin: 0 5px;
  font-size: 17px;
}
table.werewolf.themes tr.adder-row:hover {
  background: #EDEEF0;
}
table.werewolf.themes tr.input-row {
  height: 40px;
}
table.werewolf.themes tr.input-row input {
  width: 100%;
  height: 39px;
}
table.werewolf.themes tr:hover {
  background: #EDEEF0;
}
table.werewolf.themes tr:hover .actions {
  visibility: visible;
}
table.werewolf.themes tr > td:last-child {
  width: 100px;
  text-align: center;
}
table.werewolf.themes tr > td:first-child {
  width: 15px;
  text-align: center;
}
table.werewolf.results tr {
  text-align: center;
  cursor: pointer;
}
table.werewolf.results tr:hover {
  background: #EDEEF0;
}
table.werewolf.results td:first-child {
  width: 50px;
}
table.werewolf.results td:nth-child(3) {
  width: 130px;
}
table.werewolf.questions .actions {
  visibility: hidden;
}
table.werewolf.questions tr:hover {
  background: #EDEEF0;
}
table.werewolf.questions tr:hover .actions {
  visibility: visible;
}
table.werewolf.materials {
  margin-top: -2px;
}
table.werewolf.materials tr {
  cursor: pointer;
}
table.werewolf.materials tr .material-type {
  color: #747272;
}
table.werewolf.materials tr .material-type.video:before {
  content: "\f008";
}
table.werewolf.materials tr .material-type.text:before {
  content: "\f15c";
}
table.werewolf.materials tr .material-type.audio:before {
  content: "\f001";
}
table.werewolf.materials tr .material-type.image:before {
  content: "\f03e";
}
table.werewolf.materials tr .material-type.other:before {
  content: "\f016";
}
table.werewolf.materials tr .actions {
  visibility: hidden;
}
table.werewolf.materials tr .empty {
  height: 50px;
  font-size: 15px;
}
table.werewolf.materials tr .action-holder .editor {
  display: none;
}
table.werewolf.materials tr .action-holder .editor.text {
  display: inline-block;
}
table.werewolf.materials tr.adder-row {
  height: 40px;
  font-size: 16px;
  color: #6C7A89;
  cursor: pointer;
}
table.werewolf.materials tr.adder-row .fa {
  margin: 0 5px;
  font-size: 17px;
}
table.werewolf.materials tr.adder-row:hover {
  background: #EDEEF0;
}
table.werewolf.materials tr.input-row {
  height: 40px;
}
table.werewolf.materials tr.input-row input {
  width: 100%;
  height: 39px;
}
table.werewolf.materials tr:hover {
  background: #EDEEF0;
}
table.werewolf.materials tr:hover .actions {
  visibility: visible;
}
table.werewolf.materials tr > td:last-child {
  width: 210px;
  text-align: center;
  padding: 3px 15px;
}
table.werewolf.materials tr > td:first-child {
  width: 15px;
  text-align: center;
}
table.werewolf.materials tr > td:nth-child(2) {
  width: 30px;
  text-align: center;
}
.action-button {
  background: #EDEEF0;
  color: #6C7A89;
  cursor: pointer;
}
.action-button:hover {
  color: #fff;
  background: #5D8CAE;
}
.filter.theme {
  position: absolute;
}
.filter-block input[type=text] {
  padding: 0;
  text-indent: 5px;
}
#change-password-modal {
  width: 400px;
}
#change-password-modal .float-buttons {
  margin: 20px 0 -25px 0px;
}
#change-success-modal {
  width: 244px;
}
#change-success-modal .float-buttons {
  margin: 25px 0 -25px 0px;
}
#change-success-modal .float-buttons .approve {
  width: 90px;
}
.removal-modal {
  width: 400px;
}
.removal-modal .float-buttons {
  margin: 25px 0 -30px 0px;
}
.image-uploader {
  margin: 0 !important;
}
.image-uploader .row {
  margin-bottom: 15px;
  margin-right: -15px;
  margin-left: -15px;
}
.image-uploader .row:after {
  clear: both;
}
.image-uploader .row .img-preview {
  width: 25%;
  float: right;
}
.image-uploader .row .file-input {
  width: 70%;
  left: 10px;
  float: left;
  position: relative;
  z-index: 2;
}
.image-uploader .row .file-input input {
  width: 70% !important;
  height: 35px;
  padding: 5px;
}
.image-uploader .upload-btn {
  padding: 7px;
  top: 0px;
  color: #fff;
  padding: 8px;
  background: #5D8CAE;
}
.image-uploader .upload-btn:hover {
  background: #5D8CAE;
}
.image-uploader .clean-btn {
  background: #BFBFBF;
  color: #fff;
  padding: 8px;
  border-radius: 0px 3px 3px 0;
}
.image-uploader .clean-btn:hover {
  background: #D24D57;
}
.image-uploader img {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
}
.image-holder {
  width: 100px;
  height: 100px;
  text-align: center;
}
.image-holder .remove {
  background: #000;
  opacity: 0.5;
  width: 15px;
  height: 15px;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #fff;
  float: right;
  font-size: 15px;
  cursor: pointer;
}
.image-holder img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  position: relative;
  cursor: pointer;
}
.multiselect-wrap {
  margin: 0 !important;
}
.multiselect-wrap .multiselect {
  background: #fff;
  border: 1px solid #BFBFBF;
  border-bottom: none;
  padding: 10px;
  margin: 0;
}
.multiselect-wrap .multiselect ul {
  padding: 0;
}
.multiselect-wrap .multiselect li {
  list-style: none;
  display: inline-block;
  padding: 6px;
  color: #fff;
  margin: 2px 0;
  background: #5D8CAE;
  border-radius: 7px;
}
.multiselect-wrap .multiselect span.fa {
  font-size: 13px;
  margin-left: 5px;
  position: relative;
  float: right;
  top: -3px;
  cursor: pointer;
}
.multiselect-wrap input {
  width: 100%;
  margin: 0;
  display: block;
  top: -4px;
  position: relative;
  border: 1px solid #BFBFBF;
}
.multiselect-wrap input:focus {
  outline: none;
}
.multiselect-wrap input.full {
  border-top: none;
}
.multiselect-list {
  background-color: #fff;
  height: auto;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #BFBFBF;
  position: absolute;
  z-index: 10;
}
.multiselect-list .exact-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #BFBFBF;
  color: #666666;
}
.multiselect-list .exact-item:hover {
  background: #5D8CAE;
  color: #fff;
}
.date-ico {
  color: #6C7A89;
  padding: 3px 5px 0 0;
}
svg text[x][y] {
  visibility: hidden;
}
.layer.help img {
  display: block;
  margin: 30px auto;
  border: 3px solid #EDEEF0;
  padding: 3px;
  max-width: 50%;
  max-height: 250px;
  width: auto;
  height: auto;
  cursor: pointer;
}
.layer.help img:hover {
  border-color: #BFBFBF;
}
.layer.help p,
.layer.help li {
  color: #6C7A89;
  font-size: 17px;
  line-height: 20px;
}
.layer.help a {
  font-size: 19px;
  line-height: 20px;
}
#show-plans-modal {
  max-height: 500px;
}
#show-plans-modal .layer {
  margin: 20px 0 0 0;
  padding-top: 0;
  overflow-y: auto;
  max-height: 460px;
}
#show-plans-modal .layer .item.no-hover > input {
  width: 200px;
  height: 39px;
}
.modal-close {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 21px;
}
#attempts-modal {
  max-height: 450px;
}
#attempts-modal .layer {
  margin: 20px 0 0 0;
  padding-top: 0;
  overflow-y: auto;
  max-height: 370px;
}
#compile-modal {
  max-height: 450px;
  overflow: auto;
}
#compile-modal h3 {
  white-space: pre-wrap;
}
#import-modal {
  width: 800px;
}
#import-modal .image-uploader .file-input {
  width: 97%;
}
#import-modal .image-uploader input {
  width: 78% !important;
  height: 32px;
}
.width100 {
  width: 100%;
}
span.ok {
  color: #16a085;
}
span.not-ok {
  color: #D24D57;
}
#code-editor-modal {
  width: 800px;
  height: 410px;
}
#code-editor-modal#editor {
  position: relative;
}
#code-editor-modal .ace_editor {
  width: 100%;
  height: 250px;
  border: 1px solid #e3e3e3;
}
a.active-link {
  font-size: 13px;
  color: #16a085;
  float: right;
  border-bottom: 0;
}
a.active-link:hover {
  color: #000;
}
button.move {
  width: 150px;
}
button.move-section {
  width: 160px;
}
button.add-section {
  width: 300px;
  background: #3498db;
}
button.add-section:hover {
  background: #2980b9;
}
.tyle-btn {
  color: #ecf0f1;
  width: 170px;
  background: #34495e;
}
.tyle-btn-negative {
  border: 2px solid #34495e;
  background: #16a085;
}
.width60 {
  width: 60%;
}
.manual h1 {
  text-align: center;
  padding: 30px;
  color: #16a085;
}
.manual h3 {
  padding: 5px 5px 15px;
}
.manual p {
  text-align: justify;
  padding: 10px 30px 20px 0;
}
.manual .manual-image {
  max-height: 700px;
  max-width: 700px;
  width: auto;
  height: auto;
}
.section-info {
  padding-top: 20px;
  padding-bottom: 10px;
}
.section-info p {
  text-align: center;
}
.editor-name {
  padding: 20px;
}
.editor-name input {
  width: 85%;
  margin-left: 10px;
}
.editor-name label {
  font-size: 18px;
}
.editor-name + .extra {
  color: #7f8c8d;
  font-size: 14px;
  margin-bottom: 15px;
  display: block;
}
.editor-buttons {
  padding: 10px;
  text-align: center;
}
.editor-buttons button {
  width: 100px;
  color: white;
}
.editor-buttons button:hover {
  background: #5D8CAE;
}
.editor-buttons button.danger:hover {
  background: #D24D57;
}
#sections-modal {
  width: 800px;
}
#sections-modal table td:first-child {
  width: 5%;
}
#sections-modal table td:nth-child(2) {
  width: 70%;
}
#sections-modal table td:last-child {
  width: 15%;
}
#sections-modal table td:last-child button.info {
  background: #3498db;
}
#cancel-modal div {
  text-align: center;
  font-size: 18px;
  padding: 15px;
}
.popup-delete {
  height: 80px;
}
.popup-delete div:last-child {
  float: right;
}
.popup-delete div:last-child button:first-child {
  margin: 0 5px;
}
.popup-theme div {
  margin: 10px 0;
}
.popup-theme input {
  width: 95%;
}
.popup-theme label {
  font-size: 12px;
  color: #7f8c8d;
}
.popup-theme label span {
  color: #c0392b;
}
.popup-theme .popup-btn-group {
  float: right;
  margin: 5px 4px;
}
#add-theme-modal {
  width: 350px;
  height: 160px;
}
.ui-widget-overlay {
  background: none !important;
}
.materials-details .materials-link {
  overflow: auto;
}
.materials-details .materials-link .details-column {
  margin: 2% 2% 3% 2%;
  float: right;
}
.materials-details .materials-link .adder {
  color: #8D9899;
}
.materials-details .materials-link .current {
  color: #5D8CAE;
  border-bottom: 2px solid #5D8CAE;
}
.materials-details .themes {
  margin-top: -2px;
}
.materials-details .themes .details-row {
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #EDEEF0;
  padding: 5px;
}
.materials-details .themes .details-row:hover {
  background: #EDEEF0;
}
.materials-details .themes .materials {
  margin: 30px auto;
  width: 95%;
}
.materials-details .themes .materials thead tr th:first-child {
  border-radius: 10px 0 0 0;
}
.materials-details .themes .materials thead tr th:last-child {
  border-radius: 0 10px 0 0;
}
.elfinder-button-icon-getfile {
  background-position: 0 -736px !important;
}
.elfinder-button-icon-getfile + .elfinder-button-text {
  display: inline-block !important;
}
#elfinder {
  display: none;
}
body.media {
  font-family: "Times New Roman" !important;
  padding-top: 50px;
  background: white;
}
body.media .footer {
  display: none;
}
body.media .menu {
  display: none;
}
body.media .page-wrap:after {
  display: none;
}
.anchor-modal .anchor-details {
  margin-top: 30px;
}
.anchor-modal .anchor-details .inline-block {
  margin-bottom: 5px;
}
.anchor-modal .anchor-details .inline-block input[type=radio].custom-radio + label {
  display: inline-block;
  margin-right: 15px;
}
.anchor-modal .anchor-details .inline-block .anchor {
  display: inline-block;
  width: 40px;
}
.anchor-modal .anchor-details .inline-block:last-child input[type=radio].custom-radio + label {
  margin-right: 25px;
}
.anchor-modal audio,
.anchor-modal video {
  width: 450px;
}
.anchor-text {
  font-weight: bold;
  margin-left: 5px;
  font-size: large;
}
.multimedia-modal h3 {
  display: inline-block;
}
.multimedia-modal h3 + .anchor-modal-text {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  color: #4e545a;
}
.multimedia-modal audio {
  width: 450px;
  margin-bottom: 30px;
}
.multimedia-modal.video {
  width: 1000px;
}
.multimedia-modal.video video {
  width: 950px;
  margin-bottom: 40px;
}
.ui-dialog .ui-dialog-title {
  text-align: center;
  color: #625c5c;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Roboto Regular" !important;
}

/*# sourceMappingURL=admin.css.map */
