@font-face {
  font-family: 'Roboto Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.ttf');
}
body {
  font-family: 'Roboto Regular' !important;
  margin: 0;
}
.clear {
  clear: both;
}
.display-none {
  display: none;
}
button {
  font-family: 'Roboto Regular';
  height: 40px;
  width: 150px;
  color: #ecf0f1;
  background: #27ae60;
  border: 0;
  font-size: 16px;
}
button:hover {
  background: #000;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #16a085;
}
a:hover {
  color: #16a085;
}
input {
  background: #fff;
  border: 1px solid #d3d3d3;
  padding: 6px;
  font-size: 15px;
  font-family: 'Roboto Regular';
}
textarea {
  font-family: 'Roboto Regular';
}
select {
  width: 500px;
  height: 30px;
  background: #fff;
  margin: 5px 0;
}
select[multiple='true'] {
  height: auto;
}
select[multiple='true'] option {
  font-size: 20px;
  margin: 0 0 2px;
}
select[multiple='true'] option:checked {
  background: #16a085 -webkit-linear-gradient(bottom, #16a085 0%, #16a085 100%);
  background: #16a085 linear-gradient(0deg, #16a085 0%, #16a085 100%);
}
.pager-wrap {
  width: 100%;
}
.pager-wrap .pager {
  text-align: center;
  margin: 20px 0;
}
.pager-wrap .pager button {
  background: #3498db;
  width: 40px;
}
.pager-wrap .pager button:hover {
  background: #000;
}
.pager-wrap .pager .current {
  background: #000;
}
.pager-wrap .pager span {
  padding: 10px;
  font-weight: bold;
}
button.danger {
  background: #e74c3c;
}
button.danger:hover {
  background: #c0392b;
}
button.move {
  background: #3498db;
}
button.move:hover {
  background: #2980b9;
}
.fa {
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
}
span.radio {
  color: #7f8c8d;
  font-size: 13px;
  line-height: 2;
  cursor: pointer;
}
span.radio-positive {
  color: #16a085;
  font-size: 18px;
}
span.radio-negative {
  color: #e74c3c;
  font-size: 18px;
}
span.radio-neutral {
  color: #7f8c8d;
  font-size: 18px;
}
span.radio-neutral:hover {
  color: #16a085;
}
.text-center {
  text-align: center;
}
body {
  background-color: #4aa272;
  -webkit-transition: background-color 0.2s ease-out 1s;
  transition: background-color 0.2s ease-out 1s;
}
body .incorrect {
  background-color: #D24D57;
}
.register {
  margin: 7% auto 0;
  height: 470px;
  width: 430px;
  background: #ecf0f1;
}
.register input {
  height: 27px;
  width: 340px;
}
.register div {
  margin: 15px 35px;
  text-align: center;
}
.register div:last-child {
  text-align: inherit;
  margin-top: 30px;
  padding: 0 6px;
}
.register h2 {
  padding: 20px 0 0 0;
}
.register button {
  float: left;
}
.register a {
  float: right;
  font-size: 15px;
  padding-top: 10px;
}
.register select {
  width: 353px;
  height: 40px;
  margin: 0;
  font-size: 15px;
}
.login {
  height: 270px;
  margin: 10% auto 0;
}
.tooltip_templates {
  display: none;
}

/*# sourceMappingURL=auth.css.map */
