@font-face {
  font-family: 'Roboto Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.ttf');
}
.menu {
  background: white;
  box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.5);
}
.menu a {
  text-decoration: none;
  border: none;
  font-size: 18px;
  line-height: 60px;
  padding: 18px 15px;
  color: #8D9899;
  font-weight: 600;
  margin: 0 -2px;
}
.menu a.user {
  float: right;
  padding: 0 15px;
  line-height: 57px;
}
.menu a.user:hover {
  padding-bottom: 0;
}
.menu a:hover,
.menu a.current {
  color: #5D8CAE;
  padding-bottom: 15px;
  border-bottom: 3px solid #5D8CAE;
}
.menu a.user:hover + .menu-dd {
  display: block;
}
.menu .menu-dd {
  z-index: 1000;
  display: none;
  position: absolute;
  background: #fff;
  right: 0;
  border-radius: 0 0px 0px 3px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.dropshadow(offX=5, offY=5, color=#000000);
}
.menu .menu-dd a {
  display: block;
  line-height: 25px;
}
.menu .menu-dd:hover {
  display: block;
}
.form-heights {
  line-height: 27px;
}
h3 {
  color: #6C7A89;
}
.text-center {
  text-align: center;
}
label.title {
  display: block;
  font-size: 12px;
  color: #7f8c8d;
  margin-bottom: 3px;
}
label.adder {
  color: #5D8CAE;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
button.approve,
button.cancel,
button.remove {
  width: auto;
  color: #fff;
  height: 40px;
  padding: 0 13px;
  font-size: 15px;
}
button.approve {
  background: #5D8CAE;
}
button.cancel,
button.cancel:hover,
button.remove {
  background: #BFBFBF;
}
button.remove:hover {
  background: #D24D57;
}
button.mini {
  width: 48px;
  font-size: 18px;
}
span.info {
  font-size: 16px;
}
span.required {
  content: '*';
  color: #D24D57;
}
.pointer {
  cursor: pointer;
}
input[type=radio].custom-radio {
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin: 0 3px 0 0;
}
input[type=radio].custom-radio + label {
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  display: block;
}
input[type=radio].custom-radio:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type=radio].custom-radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
input[type=radio].custom-radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
input[type=radio].custom-radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #5D8CAE;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
input[type=radio].custom-radio:checked + label:after {
  opacity: 1;
}
input[type=checkbox].custom-checkbox {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
input[type=checkbox].custom-checkbox + label {
  display: block;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
}
input[type=checkbox].custom-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type=checkbox].custom-checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
input[type=checkbox].custom-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #CDD1DA;
  background: #fff;
}
input[type=checkbox].custom-checkbox:not(checked) + label:after {
  font-family: 'FontAwesome';
  font-size: 17px;
  content: '\f00c';
  color: #5D8CAE;
  position: absolute;
  left: 2px;
  top: -2px;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
input[type=checkbox].custom-checkbox:checked + label:after {
  opacity: 1;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear {
  clear: both;
}
body {
  background: #F2F1EF;
  font-family: 'Roboto Regular' !important;
  margin: 0;
}
.content {
  width: 90%;
  margin: 3% auto;
}
.items,
.layer {
  display: inline-block;
  background: #fff;
  width: 70%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.items h1,
.layer h1 {
  color: #BFBFBF;
  padding: 15px;
}
.layer {
  width: 100%;
  display: block;
  margin: 30px 0;
}
.filter {
  display: inline-block;
  background: #fff;
  float: right;
  width: 20%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: fixed;
  margin: 0 3%;
}
.filter .filter-block {
  width: 100%;
  margin-bottom: 7px;
}
.filter .filter-block input[type=text],
.filter .filter-block select {
  width: 100%;
}
.filter span.clear {
  float: right;
  font-size: 15px;
  margin-top: 10px;
  color: #7f8c8d;
  cursor: pointer;
}
.filter span.clear:hover {
  color: #5D8CAE;
}
.details {
  width: 100%;
  height: auto;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
}
.details-row {
  width: 100%;
  height: auto;
}
.details-column {
  display: inline-block;
  height: auto;
}
.pager-wrap {
  width: 100%;
}
.pager-wrap .pager {
  text-align: center;
  margin: 20px 0 0px;
}
.pager-wrap .pager button {
  color: #6C7A89;
  background: #EDEEF0;
  width: 40px;
}
.pager-wrap .pager button:hover,
.pager-wrap .pager button.current {
  color: #fff;
  background: #5D8CAE;
}
.pager-wrap .pager span {
  padding: 10px;
  font-weight: bold;
}
span.radio {
  color: #7f8c8d;
  font-size: 13px;
  cursor: pointer;
}
span.radio-important,
span.radio-positive,
span.radio-negative,
span.radio-neutral {
  font-size: 18px;
  cursor: pointer;
}
span.radio-important {
  color: #5D8CAE;
}
span.radio-positive {
  color: #2ABB9B;
}
span.radio-negative {
  color: #D24D57;
}
span.radio-neutral {
  color: #7f8c8d;
}
span.radio-neutral:hover {
  color: #5D8CAE;
}
span.clickable,
span .correct,
span .incorrect {
  cursor: pointer;
  font-weight: bold;
}
span .clickable {
  color: #5D8CAE;
}
span .correct {
  color: #16a085;
}
span .incorrect {
  color: #D24D57;
}
span.coloredin-patronus {
  color: #5D8CAE !important;
}
span.coloredin-crimson {
  color: #D24D57 !important;
}
span.date-string {
  font-size: 12px;
}
.bold {
  font-weight: bold;
}
.image-expander {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  top: 0;
  left: 0;
  position: fixed;
  padding: 1%;
  display: none;
}
.image-expander img {
  max-height: 95%;
  max-width: 95%;
  margin: 0 auto;
  width: auto;
  height: auto;
  display: table;
}
a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dashed #6C7A89;
  cursor: pointer;
}
a:hover {
  color: #5D8CAE;
  border-bottom: 1px dashed #5D8CAE;
}
.width-auto {
  width: auto;
}
.width-zero {
  width: 0;
}
.width-5p {
  width: 5%;
}
.width-10p {
  width: 10%;
}
.width-13p {
  width: 13%;
}
.width-15p {
  width: 15%;
}
.width-19p {
  width: 19%;
}
.width-20p {
  width: 20%;
}
.width-25p {
  width: 25%;
}
.width-27p {
  width: 27%;
}
.width-30p {
  width: 30%;
}
.width-31p {
  width: 31%;
}
.width-35p {
  width: 35%;
}
.width-38p {
  width: 38%;
}
.width-39p {
  width: 39%;
}
.width-40p {
  width: 40%;
}
.width-45p {
  width: 45%;
}
.width-48p {
  width: 48%;
}
.width-50p {
  width: 50%;
}
.width-55p {
  width: 55%;
}
.width-60p {
  width: 60%;
}
.width-65p {
  width: 65%;
}
.width-70p {
  width: 70%;
}
.width-75p {
  width: 75%;
}
.width-80p {
  width: 80%;
}
.width-85p {
  width: 85%;
}
.width-90p {
  width: 90%;
}
.width-95p {
  width: 95%;
}
.width-98p {
  width: 98%;
}
.width-99p {
  width: 99%;
}
.width-100p {
  width: 100%;
}
.width-80 {
  width: 80px !important;
}
.height-19 {
  height: 19px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-100 {
  height: 100px;
}
.minw-20 {
  min-width: 20px;
}
.minw-50 {
  min-width: 50px;
}
.minw-200 {
  min-width: 200px;
}
.minw-220 {
  min-width: 220px;
}
.minw-100 {
  min-width: 100px;
}
.minw-185 {
  min-width: 185px;
}
.minh-40 {
  min-height: 40px !important;
}
.maxw-100p {
  max-width: 100%;
}
.maxw-50 {
  max-width: 50px;
}
.mr-5 {
  margin-right: 5px;
}
.zero-margin {
  margin: 0 !important;
}
.pre-line {
  white-space: pre-line;
}
.pre-wrap {
  white-space: pre-wrap;
}
.clear {
  clear: both;
}
.display-none {
  display: none;
}
button {
  font-family: 'Roboto Regular';
  height: 40px;
  width: auto;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}
textarea {
  font-family: 'Roboto Regular';
}
button.danger {
  background: #e74c3c;
}
button.danger:hover {
  background: #c0392b;
}
button.move {
  background: #3498db;
}
button.move:hover {
  background: #2980b9;
}
.fa {
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
}
.text-center {
  text-align: center;
}
#information-modal,
#confirmation-modal {
  max-width: 450px;
  max-height: 300px;
}
#information-modal h3,
#confirmation-modal h3 {
  white-space: pre-line;
}
#information-modal button,
#confirmation-modal button {
  min-width: 90px;
  margin: 0 0 0 1% !important;
}
#information-modal p,
#confirmation-modal p {
  color: #7f8c8d;
  font-size: 12px;
  text-align: justify;
  padding: 15px 0;
  white-space: pre-line;
}
#errors-modal {
  width: 300px;
  max-height: 350px;
  overflow-y: auto;
}
#errors-modal h3 {
  display: inline-block;
}
#errors-modal h4 {
  padding: 0 5px 5px;
  margin: 0 5px 5px;
  white-space: pre-line;
}
#errors-modal .fa {
  padding-right: 5px;
  font-size: 20px;
  color: #D24D57;
}
#errors-modal button {
  width: 70px;
  height: 30px;
  font-size: 15px;
  float: right;
}

/*# sourceMappingURL=common.css.map */
