@font-face {
  font-family: 'Roboto Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.ttf');
}
body {
  font-family: 'Roboto Regular' !important;
  margin: 0;
}
.clear {
  clear: both;
}
.display-none {
  display: none;
}
button {
  font-family: 'Roboto Regular';
  height: 40px;
  width: 150px;
  color: #ecf0f1;
  background: #27ae60;
  border: 0;
  font-size: 16px;
}
button:hover {
  background: #000;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #16a085;
}
a:hover {
  color: #16a085;
}
input {
  background: #fff;
  border: 1px solid #d3d3d3;
  padding: 6px;
  font-size: 15px;
  font-family: 'Roboto Regular';
}
textarea {
  font-family: 'Roboto Regular';
}
select {
  width: 500px;
  height: 30px;
  background: #fff;
  margin: 5px 0;
}
select[multiple='true'] {
  height: auto;
}
select[multiple='true'] option {
  font-size: 20px;
  margin: 0 0 2px;
}
select[multiple='true'] option:checked {
  background: #16a085 -webkit-linear-gradient(bottom, #16a085 0%, #16a085 100%);
  background: #16a085 linear-gradient(0deg, #16a085 0%, #16a085 100%);
}
.pager-wrap {
  width: 100%;
}
.pager-wrap .pager {
  text-align: center;
  margin: 20px 0;
}
.pager-wrap .pager button {
  background: #3498db;
  width: 40px;
}
.pager-wrap .pager button:hover {
  background: #000;
}
.pager-wrap .pager .current {
  background: #000;
}
.pager-wrap .pager span {
  padding: 10px;
  font-weight: bold;
}
button.danger {
  background: #e74c3c;
}
button.danger:hover {
  background: #c0392b;
}
button.move {
  background: #3498db;
}
button.move:hover {
  background: #2980b9;
}
.fa {
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
}
span.radio {
  color: #7f8c8d;
  font-size: 13px;
  line-height: 2;
  cursor: pointer;
}
span.radio-positive {
  color: #16a085;
  font-size: 18px;
}
span.radio-negative {
  color: #e74c3c;
  font-size: 18px;
}
span.radio-neutral {
  color: #7f8c8d;
  font-size: 18px;
}
span.radio-neutral:hover {
  color: #16a085;
}
.text-center {
  text-align: center;
}
label.title {
  display: block;
  font-size: 12px;
  color: #7f8c8d;
  margin-bottom: 3px;
}
body {
  background: #F2F1EF;
  font-family: 'Roboto Regular' !important;
}
.menu {
  height: 50px;
  width: 100%;
  background: #fff;
}
.menu div {
  height: 100%;
  width: auto;
  color: #000;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
  margin-right: -4px;
}
.menu div:hover {
  background: #5D8CAE;
  color: #fff;
}
.menu div.current {
  background: #5D8CAE;
  color: #fff;
}
.menu div:last-child {
  float: right;
}
.menu span {
  line-height: 50px;
  font-size: 16px;
}
.menu span i {
  padding: 0 5px;
}
.content {
  width: 90%;
  margin: 5% auto;
}
.items {
  display: inline-block;
  background: #fff;
  width: 70%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.filter {
  display: inline-block;
  background: #fff;
  float: right;
  width: 20%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: fixed;
  margin: 0 3%;
}
.filter input[type=text] {
  width: 100%;
}
.filter .filter-block {
  width: 100%;
  margin-bottom: 7px;
}
.filter span.clear {
  float: right;
  font-size: 15px;
  color: #7f8c8d;
  cursor: pointer;
}
.filter span.clear:hover {
  color: #5D8CAE;
}
.row {
  width: 100%;
  height: 150px;
}
.row:after {
  clear: both;
}
.row .discipline {
  width: 21%;
  display: inline-block;
  float: left;
  margin: 2% 2%;
}
.row .discipline-head {
  height: 40px;
  text-align: center;
  background: #5D8CAE;
  color: #fff;
  line-height: 40px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.row .discipline-body {
  height: 110px;
  background: #EEEEEE;
  color: #5D8CAE;
  line-height: 110px;
  font-size: 40px;
  text-align: center;
}
input[type=radio].custom-radio {
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin: 0 3px 0 0;
}
input[type=radio].custom-radio + label {
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
}
input[type=radio].custom-radio:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type=radio].custom-radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
input[type=radio].custom-radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
input[type=radio].custom-radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #5D8CAE;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
input[type=radio].custom-radio:checked + label:after {
  opacity: 1;
}
input[type=checkbox].custom-checkbox {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
input[type=checkbox].custom-checkbox + label {
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
}
input[type=checkbox].custom-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type=checkbox].custom-checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
input[type=checkbox].custom-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #CDD1DA;
  background: #fff;
}
input[type=checkbox].custom-checkbox:not(checked) + label:after {
  font-family: 'FontAwesome';
  font-size: 17px;
  content: '\f00c';
  color: #5D8CAE;
  position: absolute;
  left: 3px;
  top: -4px;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
input[type=checkbox].custom-checkbox:checked + label:after {
  opacity: 1;
}

/*# sourceMappingURL=site.css.map */
