@font-face {
  font-family: 'Roboto Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.ttf');
}
body {
  font-family: 'Roboto Regular' !important;
  margin: 0;
}
.clear {
  clear: both;
}
.display-none {
  display: none;
}
button {
  font-family: 'Roboto Regular';
  height: 40px;
  width: 150px;
  color: #ecf0f1;
  background: #27ae60;
  border: 0;
  font-size: 16px;
}
button:hover {
  background: #000;
}
a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted #16a085;
}
a:hover {
  color: #16a085;
}
input {
  background: #fff;
  border: 1px solid #d3d3d3;
  padding: 6px;
  font-size: 15px;
  font-family: 'Roboto Regular';
}
textarea {
  font-family: 'Roboto Regular';
}
select {
  width: 500px;
  height: 30px;
  background: #fff;
  margin: 5px 0;
}
select[multiple='true'] {
  height: auto;
}
select[multiple='true'] option {
  font-size: 20px;
  margin: 0 0 2px;
}
select[multiple='true'] option:checked {
  background: #16a085 -webkit-linear-gradient(bottom, #16a085 0%, #16a085 100%);
  background: #16a085 linear-gradient(0deg, #16a085 0%, #16a085 100%);
}
.pager-wrap {
  width: 100%;
}
.pager-wrap .pager {
  text-align: center;
  margin: 20px 0;
}
.pager-wrap .pager button {
  background: #3498db;
  width: 40px;
}
.pager-wrap .pager button:hover {
  background: #000;
}
.pager-wrap .pager .current {
  background: #000;
}
.pager-wrap .pager span {
  padding: 10px;
  font-weight: bold;
}
button.danger {
  background: #e74c3c;
}
button.danger:hover {
  background: #c0392b;
}
button.move {
  background: #3498db;
}
button.move:hover {
  background: #2980b9;
}
.fa {
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
}
span.radio {
  color: #7f8c8d;
  font-size: 13px;
  line-height: 2;
  cursor: pointer;
}
span.radio-positive {
  color: #16a085;
  font-size: 18px;
}
span.radio-negative {
  color: #e74c3c;
  font-size: 18px;
}
span.radio-neutral {
  color: #7f8c8d;
  font-size: 18px;
}
span.radio-neutral:hover {
  color: #16a085;
}
#code-editor-modal {
  width: 800px;
  height: 500px;
  overflow: auto;
}
#code-editor-modal#editor {
  position: relative;
}
#code-editor-modal .cancel,
#code-editor-modal .save,
#code-editor-modal #button {
  margin: 15px 0 0;
  color: #fff;
  background: #264348;
  cursor: pointer;
  border: 0;
  padding: 10px;
}
#code-editor-modal .cancel {
  background: #bfbfbf;
  float: right;
}
#code-editor-modal .cancel:hover {
  background: #D24D57;
}
#code-editor-modal .save {
  background: #2ABB9B;
  margin-right: 5px;
  float: right;
}
#code-editor-modal .ace_editor,
#code-editor-modal .code-task {
  display: inline-table;
  position: relative;
}
#code-editor-modal .ace_editor {
  width: 60%;
  height: 87%;
  border: 1px solid #e3e3e3;
}
#code-editor-modal .code-task {
  width: 38%;
  top: 10px;
  white-space: pre-wrap;
}
body {
  background: #264348 !important;
}
.content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 70px auto;
  width: 80%;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.question-head {
  padding: 30px 50px 0 50px;
}
.question-head h3 {
  width: 80%;
  text-align: justify;
  display: inline-block;
}
.question-head h1 {
  float: right;
  width: 10%;
  margin-top: 23px;
  color: #e74c3c;
}
.question-head img {
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
  clear: both;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  cursor: pointer;
}
.question-answers {
  padding: 30px 50px 50px;
}
.question-answers .container {
  width: 80%;
}
.question-answers input[type=text],
.question-answers textarea {
  width: 75%;
}
.question-answers textarea {
  height: 150px;
}
.test-results .hasMark {
  text-align: center;
}
.test-results h2 {
  text-align: center;
  padding: 30px;
  font-weight: bold;
}
.test-results .text-middle {
  text-align: center;
  display: block;
}
.test-results .date {
  font-size: 12px;
  display: block;
  float: right;
  color: #757d75;
}
.test-results .result-text {
  border-bottom: 3px dashed #e3e3e3;
  border-top: 3px dashed #e3e3e3;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.test-results button {
  width: 200px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 20px;
  margin-left: 5%;
}
.test-results span {
  font-size: 18px;
  line-height: 25px;
}
#image-expander {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  top: 0;
  left: 0;
  position: fixed;
  padding: 1%;
  display: none;
}
#image-expander img {
  max-height: 90%;
  max-width: 90%;
  margin: 0 auto;
  width: auto;
  height: auto;
  display: table;
}
.next-question {
  height: 70px;
}
.next-question button {
  float: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 10px 35px;
}
.next-question:after {
  clear: both;
}
input[type=radio] {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
input[type=radio] + label {
  cursor: pointer;
  font-size: 17px;
  line-height: 30px;
}
input[type=radio]:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type=radio]:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
input[type=radio]:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
input[type=radio]:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #27ae60;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
input[type=radio]:checked + label:after {
  opacity: 1;
}
input[type=checkbox] {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
input[type=checkbox] + label {
  cursor: pointer;
  font-size: 17px;
  line-height: 30px;
}
input[type=checkbox]:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type=checkbox]:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
input[type=checkbox]:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 20%;
  background: #FFF;
}
input[type=checkbox]:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 20%;
  background: #27ae60;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
input[type=checkbox]:checked + label:after {
  opacity: 1;
}
button.write-code-btn {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 10px 35px;
}
label.code-text {
  color: #bfbfbf;
  display: block;
  white-space: pre-wrap;
}

/*# sourceMappingURL=test.css.map */
