@import (less) "common.less";

@mainTheme: @greensea;
@hover: @turquoise;
@danger: @alizarin;
@active: @wetasphalt;
@unimportant: @asbestos;
@neutral: @clouds;
@grey: @normal-grey;

.label(){
  font-size: 12px;
  color: @unimportant;
}
.width100{
  width: 100%;
}
.width60{

}

.filter{
  height: 100px;
  border-bottom: 20px solid @white;
  padding: 20px 20px 0;
  div{
    display: inline-block;
    margin: 10px 0px 0px 10px;
    width: 48%;
  }
  label{
    .label();
  }
  input{
    padding: 6px;
    min-width: 200px;
    width: 95%;
  }
  select{
    font-size: 15px;
    height: 33px;
    margin: 0;
    min-width: 200px;
    width: 100%;
  }
}

.menu{
  top: 0;
  background: #fff;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  border-bottom: 1px solid @wetasphalt;
  ul{
    text-align: center;
  }
  li {
    color: @midnightblue;
    list-style: none;
    display: inline;
    padding: 20px 20px;
    font-size: 15px;
    text-transform: uppercase;
    vertical-align: sub;
    &:hover{
      color: @white;
      background: @midnightblue;
      cursor: pointer;
    }
  }
}

.content{
  width: 85%;
  margin: 100px auto;
  background: @neutral;
}

.org-accordion{
  width: 100%;
  height: 100%;
  .org-item{
    width: 100%;
    line-height: 50px;
    height: 50px;
    background: @mainTheme;
    color: @neutral;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid @neutral;
    cursor: pointer;
    &:hover{

    }
    &:active{
      background: @active;
    }
    &-current{
      background: @active;
      &:hover{
        background: @active;
      }
    }
    &.text-alternative{
      text-transform: none;
      font-size: 17px;
      font-weight: bold;
    }
  }
}

.org-info{
  .width100();
  div{
    display: inline-block;
    margin: 10px 15px;
  }
  label{
    .label();
  }
  input{
    padding: 6px;
    width: 150px;
  }
}

table{
  &.theme{
    width: 97%;
    padding: 15px 0;
    border-collapse: collapse;
    border-top: 1px solid @light-grey;
    cellpadding: 10px;
    text-align:center;
    th{
      padding: 10px;
    }
    tbody tr{
      &:nth-child(odd){
        background: @light-grey;
      }
      &:nth-child(even){
        background: @normal-grey;
      }
    }
    td{
      padding: 5px;
      width: 7%;
      &:nth-child(2){
        width: 80%;
        text-align: left;
      }
    }
    button{
      width: 35px;
      height: 30px;
    }
    a{
      border-bottom: 0;
      &:hover{
        color: @emerland;
      }
    }
    &s {
      .width100();
      td{
        &:first-child{
          width: 50%;
        }
        &:nth-child(2), &:nth-child(3){
          width: 13%;
        }
      }
    }
  }
  &.students-table{
    width: 100%;
    padding: 15px 0;
    border-collapse: collapse;
    border-top: 1px solid @light-grey;
    tr > td{
      &:first-child, &:last-child{
        text-align: center;
      }
      &:first-child{
        width: 100px;
      }
      &:last-child{
        width: 250px;
      }
    }
  }
}

a.active-link{
  font-size: 13px;
  color: @greensea;
  float: right;
  border-bottom: 0;
  &:hover{
    color: @black;
  }
}
button.move{
  width: 150px;
}
button{
  background: @emerland;
  width: 50px;
  &:hover{
    background: @nephritis;
  }
}

.discipline{
  &-edit{
    div{
      &:first-child{
        width: 20%;
        input{
          width: 100%;
        }
      }
      &:nth-child(2){
        width: 70%;
        input{
          width: 94%;
        }
      }
      &:nth-child(3){
        width: 93%;
        select{
          width: 97%;
        }
      }
    }
    .float-btn-group{
      float: right;
      margin-right: 8%;
    }
  }
  &-info{
    div{
      &:last-child{
        width: 100%;
        i{
          &:first-child{
            float: left;
          }
          &:last-child{
            float:right;
            margin-right: 8%;
          }
        }
      }
    }
  }
}

.themes{
  .org-info{
    border-bottom: 20px solid @white;
  }
  .filter div{
    width: 32%;
  }
  &-add{
    border-bottom: 20px solid @white;
    div{
      width: 47%;
      input{
        width: 95%;
      }
      &:first-child{
        width: 13%;
        input{
          width: 25px;
          text-align: center;
        }
      }
      &:nth-child(2){
        width: 81%;
        input{
          width: 97%;
        }
      }
      &:nth-child(5), &:nth-child(6){
        width: 96%;
        textarea{
          width: 99%;
          height: 100px;
        }
        input{
          width: 93%;
        }
        button{
          width: 35px;
          height: 34px;
          margin-left: 15px;
        }
      }
      &:nth-child(7){
        width:96%;
        table{
          width: 100%;
          border-top: 1px solid @unimportant;
          border-bottom: 1px solid @unimportant;
          padding:7px;
          td{
            width:30%;
            &:first-child{
              width: 10%;
            }
            &:last-child{
              width: 20%;
            }
          }
        }
      }
      &:last-child{
        width:100%;
        button{
          float: right;
          width:200px;
          margin-right: 45px;
        }
      }
    }
  }
}


.institutes{
  width: 100%;
  height: 100%;
  .institute{
    width: 100%;
    line-height: 50px;
    height: 50px;
    background: @greensea;
    color: @clouds;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px solid @clouds;
    &.font-settings{
      text-transform: none;
      font-size: 17px;
      font-weight: bold;
    }
    &:hover{
      background: @hover;
    }
    &:active{
      background: @wetasphalt;
    }
    &-current{
      background: @wetasphalt;
      &:hover{
        background: @wetasphalt;
      }
    }
  }
  .profiles{
    width: 100%;
    background: @light-grey;

    .profile{
      background: @greensea;
      color: @clouds;
      width: 250px;
      height: 150px;
      margin: 5px 10px 5px 0px;
      line-height: 45px;
      float: left;
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      &:hover{
        background: @hover;
      }
      &:active{
        background: @wetasphalt;
      }
    }
  }
}

.info-group{
  .details-group{
    div{
      display: inline-block;
      margin: 10px 15px;
    }
  }
  div{
    display: inline-block;
    margin: 10px 15px;
  }
  label{
    font-size: 12px;
    color: @asbestos;
  }
  .study-form{
    &-selected{
      font-size: 18px;
      color: @greensea;
    }
    font-size: 13px;
    color: @asbestos;
    line-height: 1.8;
    cursor: pointer;
  }
  .group-name{
    input{
      width: 200px;
    }

  }
  input{
    padding: 6px;
    width: 70px;
  }
}

.tyle-btn{
  color: @clouds;
  width: 170px;
  background: @wetasphalt;
  &-negative{
    border: 2px solid @wetasphalt;
    background: @greensea;
  }
}


