@import (less) "common.less";

@jungleGreen: #2ABB9B;

@mainTheme: @greensea;
@buttonGreen: @jungleGreen;
@buttonHover: @patronus;
@crimson-red: #D24D57;
@danger: @alizarin;
@important: @pomegranade;
@active: @wetasphalt;
@unimportant: @asbestos;
@neutral: @clouds;
@grey: @normal-grey;
@warning: #E29C45;


.progressBar {
  position: relative;
  width: 100%;
  height: 13px;
  margin: 20px auto;
  border: 1px solid @akcio;
  border-radius: 3px;
  overflow: hidden;
}

.progressBar div {
  position: relative;
  height: 100%;
  background-color: @patronus;
}

.progressBar .progressText {
  color: @white;
  position: absolute;
  margin: 0 auto;
  top: -3px;
  font-size: 12px;
  left: 0;
  right: 0;
  background-color: transparent;
}

.a-style-none{
  a, a:hover{
    margin:0;
    padding:0;
    color: @black;
    text-decoration: none;
    border-bottom: 0;
  }
}

span.interval{
  font-size: 17px;
  line-height: 25px;
  padding: 0 5px 0px 5px;
  margin: 0px 5px 0px 0;
  cursor: pointer;
  &:hover{
    border-bottom: 2px solid @patronus;
  }
  &.current{
    color: @patronus;
    border-bottom: 2px solid @patronus;
  }
}

h3{
  color: @filch;
}

input{
  background: @white;
  padding: 0 5px;
  height: 30px;
  font-size: 15px;
  border:1px solid #d3d3d3;
}
select{
  height: 30px;
  font-size: 14px;
  text-indent: 2px;
  border: 1px solid @akcio;
  background: @white;
  border-radius: 2px;
  font-family: "Roboto Regular" !important;
}
button{
  cursor: pointer;
}
.inline{
  display: inline-block;
}
.block{
  display: block;
}

.items-head, .layer-head{
  margin: 15px 0;
  label.adder{
    float: right;
    line-height: 22px;
  }
  h1{
    display: inline;
  }
  h3{
    color: @filch;
  }
}
.items-body, .layer-body{
  margin: 20px 0;
}

.items{
  &.disciplines{
    .item .tags{
      text-align: right;
      float:right;
      min-width: 80px;
    }
  }
}
.item{
  background: @patronus-shade;
  color: @filch;
  font-size: 16px;
  padding: 9px;
  cursor: pointer;
  margin: 1px 0;
  &:hover, &.current{
    background: @patronus;
    color: @white;
    span.tag{
      color: @white;
    }
  }
  &.no-hover{
    &:hover{
      background: @patronus-shade;
      color: @filch;
    }
  }
  span.tag{
    color: @patronus-shade;
    margin: 0 8px;
    font-size: 23px;
  }
}

.items{
  .result{
    .a-style-none();
    a{
      display: block;
      width: 100%;
      border:1px solid @akcio;
      &:hover{
        border: 1px solid @patronus;
      }
    }
  }
}

.details{
  margin-top: -2px;
}
.details-column.tile-boredom{
  background: @patronus-shade;
  width: 150px;
  height: 110px;
  padding: 5px 15px;
  span{
    display: block;
    font-size: 15px;
    color: @akcio;
    line-height: 15px;
    margin: 7px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
      color: @filch;
    }
  }
}



.details-column{
  margin: 1%;
  input[type=text], input[type=password], select, textarea{
    width: 100%;
    &.time{
      width: 50px;
      text-align:center;
    }
    &.attempts{
      width: 130px;
      text-align: center;
    }
  }
}

.details-row.float-buttons{
  min-height: 60px;
  button{
    float:right;
    margin: 0 1% 0 0;
  }
}
.details-row.variants{
  input{
    width: 93%;
    height: 40px;
  }
  button{
    float: right;
  }
}
.details-row.theme{
  input{
    width: 87%;
    height: 40px;
  }
  span{
    min-width:100px;
    width:15%;
  }
}
.details-row.date{
  label{
    float: right;
    position: relative;
    top: -20px;
    right: 5px;
    color: @akcio;
    font-size: 12px;
  }
}
.details-row.special-item{
  border-top: 1px solid @akcio;
  border-bottom: 1px solid @akcio;
  margin-top: -1px;
  cursor: pointer;
  font-size: 16px;
  &:last-child{
    margin-bottom: -1px;
  }
  &:hover, &.current{
    background: @patronus;
    color: @white;
    span.tagged{color: @white;}
  }
  span.tagged{
    color: @patronus;
    float: right;
  }
}
.details-row.special-item-details{
  background: @patronus-shade;
  color: @filch;
  span.icon{
    font-size: 25px;
    margin: 0 20px 0 0;
    float: left;
    padding: 0px;
    width: 20px;
  }
  span.text{
    white-space: pre-wrap;
    font-size: 13px;
    display: table;
    text-align: justify;
  }
  .result-setter input{
    max-width: 83px;
  }
}

.stripe-table{
  width: 100%;
  padding: 15px 0;
  border-collapse: collapse;
  margin: 10px 0;
  th{
    padding: 10px;
  }
  tbody tr{
    &:nth-child(odd){
      background: @patronus-shade;
    }
    &:nth-child(even){
      background: @silver;
    }
  }
  td{
    padding: 5px;
  }
  button.remove{
    background: @crimson-red;
  }
}

table.monitoring{
  width: 100%;
  thead tr td{
    text-align: center;
    padding: 7px 15px;
    background: @akcio;
    color: @white;
  }
  tr td{
    border-bottom: 1px solid @patronus-shade;
    padding: 3px 15px;
  }
  .progressBar{
    margin: 0!important;
  }
}
table.werewolf{
  width: 100%;
  border-spacing: 0;
  cursor: default;
  thead tr th{
    text-align: center;
    padding: 7px 15px;
    background: @akcio;
    color: @white;
  }
  tr td{
    border-bottom: 1px solid @patronus-shade;
    padding: 3px 15px;
  }
  td.action-holder{
    padding: 3px 0px;
    text-align: right;
  }
}
table.werewolf.themes{
  margin-top: -2px;
  tr{
    cursor: pointer;
    .actions{
      visibility: hidden;
    }
    &.adder-row {
      height: 40px;
      font-size: 16px;
      color: @filch;
      cursor: pointer;
      .fa{
        margin: 0 5px;
        font-size: 17px;
      }
      &:hover {
        background: @patronus-shade;
      }
    }
    &.input-row{
      height: 40px;
      input{
        width: 100%;
        height: 39px;
      }
    }
    &:hover{
      background: @patronus-shade;
      .actions{
        visibility: visible;
      }
    }
  }
  tr > td{
    &:last-child{
      width: 100px;
      text-align: center;
    }
    &:first-child{
      width: 15px;
      text-align: center;
    }
  }
}
table.werewolf.results{
  tr{
    text-align: center;
    cursor: pointer;
    &:hover{
      background: @patronus-shade;
    }
  }
  td:first-child{
    width: 50px;
  }
  td:nth-child(3){
    width: 130px;
  }
}
table.werewolf.questions{
  .actions{visibility: hidden}
  tr:hover{
    .actions{visibility: visible}
    background: @patronus-shade;
  }
}

.action-button{
  width: 100%;
  background: @patronus-shade;
  color: @filch;
  cursor: pointer;
  &:hover{
    color: @white;
    background: @patronus;
  }
}
.filter.theme{
  position: absolute;
}

.filter-block{
  input[type=text]{
    padding: 0;
    text-indent: 5px;
  }
}

#change-password-modal{
  width: 400px;
  .float-buttons{
    margin: 20px 0 -25px 0px;
  }
}
#change-success-modal{
  width: 244px;
  .float-buttons{
    margin: 25px 0 -25px 0px;
    .approve{
      width: 90px;
    }
  }
}
.removal-modal{
  width: 400px;
  .float-buttons{
    margin: 25px 0 -30px 0px;
  }
}



.image-uploader{
  margin:0 !important;
  .row{
    margin-bottom: 15px;
    margin-right: -15px;
    margin-left: -15px;
    &:after{
      clear: both;
    }
    .img-preview{
      width: 25%;
      float:right;
    }
    .file-input{
      width: 70%;
      left: 10px;
      float: left;
      position: relative;
      z-index: 2;
      input{
        width: 70% !important;
        height: 35px;
        padding: 5px;
      }
    }
  }
  .upload-btn{
    padding: 7px;
    top: 0px;
    color: @white;
    padding: 8px;
    background: @patronus;
    &:hover{
      background: @patronus;
    }
  }
  .clean-btn{
    background: @akcio;
    color: @white;
    padding: 8px;
    border-radius: 0px 3px 3px 0;
    &:hover{
      background: @crimson-red;
    }
  }
  img{
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
  }
}
.image-holder {
  width: 100px;
  height: 100px;
  text-align: center;
  .remove {
    background: @black;
    opacity: 0.5;
    width: 15px;
    height: 15px;
    text-align: center;
    position: relative;
    z-index: 2;
    color: @white;
    float: right;
    font-size: 15px;
    cursor: pointer;
  }
  img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    position: relative;
    cursor: pointer;
  }

}


.multiselect-wrap{
  margin:0 !important;
  .multiselect{
    background: @white;
    border: 1px solid #e3e3e3;
    border-bottom: none;
    padding: 10px;
    margin: 0;
    ul{
      padding:0;
    }
    li{
      list-style: none;
      display: inline-block;
      padding: 6px;
      color: @white;
      margin: 2px 0;
      background: @patronus;
      border-radius: 7px;
    }
    span.fa{
      font-size: 13px;
      margin-left: 5px;
      position: relative;
      float: right;
      top: -3px;
      cursor: pointer;
    }
  }
  input{
    width: 100%;
    margin: 0;
    display: block;
    top: -4px;
    position: relative;
    border: 1px solid #e3e3e3;
    &:focus{
      outline: none;
    }
    &.full{
      border-top: none;
    }
  }
  &.theme input{
    width: 98%;
    padding: 0px 7px;
  }
}
.knockout-autocomplete{
  &.menu {
    background-color: @white;
    padding: 3px 0;
    height: auto;
    width: 44%;
    z-index: 10;
    li {
      background: @patronus-shade;
      text-transform: inherit;
      font-family: 'Roboto Regular';
      font-size: 15px;
      line-height: 18px;
      cursor: pointer;
      list-style: none;
      margin: 0px 0;
      padding: 3px 12px;
      display: block;
      background: @white;
      color: @black;
      &.selected{
        background: @patronus;
        color: @white;
      }
    }
  }
  &.floating-menu {
    position: fixed;
    border: thin #aaa solid;
    margin: 0;
    margin-top: 3px;
    -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.75);
  }
  &.after-menu {
    position: absolute;
  }
}




//MODALS
#show-plans-modal{
  max-height: 500px;
  .layer{
    margin: 20px 0 0 0;
    padding-top: 0;
    overflow-y: auto;
    max-height: 460px;
    .item.no-hover > input{
        width: 200px;
        height: 39px;
    }
  }
}
.modal-close{
  margin-top: 5px;
  margin-right: 5px;
  font-size: 21px;
}
//MODALS/







#compile-modal{
  max-height: 450px;
  overflow: auto;
  h3{
    white-space: pre-wrap;
  }
}

.label(){
  font-size: 12px;
  color: @unimportant;
  span{
    color: @important;
  }
}
.width100{
  width: 100%;
}
span{
  &.ok{
    color: @mainTheme;
  }
  &.not-ok{
    color: @crimson-red;
  }
}


#errors-modal{
  width: 300px;
  h3{
    display: inline-block;
  }
  h4{
    padding: 0 5px 5px;
    margin: 0 5px 5px;
  }
  .fa{
    padding-right:5px;
    font-size: 20px;
    color: @warning;
  }
  .button-holder{
    height: 30px;
    button{
      width: 70px;
      height: 30px;
      font-size: 15px;
      float: right;
    }
  }
}
#code-editor-modal{
  width: 800px;
  height: 410px;
  &#editor{
    position:relative;
  }
  .ace_editor{
    width: 100%;
    height: 250px;
    border: 1px solid #e3e3e3;
  }
}

a.active-link{
  font-size: 13px;
  color: @mainTheme;
  float: right;
  border-bottom: 0;
  &:hover{
    color: @black;
  }
}
button.move {
  width: 150px;
  &-section {
    width: 160px;
  }
}
button.add-section{
  width: 300px;
  background: @peterriver;
  &:hover{
    background: @belizehole;
  }
}
button{
  background: @buttonGreen;
  width: 50px;
  &:hover{
    background: @buttonHover;
  }
}


.tyle-btn{
  color: @neutral;
  width: 170px;
  background: @active;
  &-negative{
    border: 2px solid @active;
    background: @mainTheme;
  }
}


.width60{
  width: 60%;
}

.manual{
  h1{
    text-align: center;
    padding: 30px;
    color: @mainTheme;
  }
  h3{
    padding: 10px 0 0 15px;
  }
  p{
    text-align: justify;
    padding: 10px 30px 20px 0;
  }
  .manual-image{
    max-height: 700px;
    max-width: 700px;
    width: auto;
    height: auto;
  }
}

.expanded-image{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  img{
    display: block;
    margin: 0 auto;
  }
}

.LoadingImage{
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0.3;
  position: absolute;
  display: none;
  img{
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: -20%;
  }
}

.section-info{
  padding-top: 20px;
  padding-bottom: 10px;
  p{
    text-align: center;
  }
}

.section-name{
  padding: 20px;
  input{
    width: 85%;
    margin-left: 10px;
  }
  label{
    font-size: 18px;
  }
}

.section-buttons{
  padding: 10px;
  text-align: center;
  button{
    width: 100px;
  }
}

#sections-modal{
  width: 800px;
  table {
    td:first-child {
      width: 5%;
    }
    td:nth-child(2){
      width: 70%;
    }
    td:last-child {
      width: 15%;
      button.info {
        background: @peterriver;
      }
    }
  }
}


#cancel-modal{
  div{
    text-align: center;
    font-size: 18px;
    padding: 15px;
  }
}

.popup{
  &-delete{
    height: 80px;
    div:last-child{
      float: right;
      button:first-child{
        margin: 0 5px;
      }
    }
  }
  &-theme{
    div{
      margin: 10px 0;
    }
    input{
      width: 95%;
    }
    label{
      .label();
    }
    .popup-btn-group{
      float: right;
      margin: 5px 4px;
    }
  }
}
#add-theme-modal{
  width: 350px;
  height: 160px;
}


