@import (less) "common.less";

body{
  background-color: @body-green;
  .transition-bc(0.2s, 1s);
  .incorrect{
    background-color: @body-red;
  }

//  background-color: #eb2c3b;
  //-webkit-transition: background-color 0.2s ease-out 1s;
  //&.unpass-validation{
  //  background-color: @body-red;
  //}
}

.register{
  margin: 7% auto 0;
  height: 450px;
  width: 430px;
  background: @clouds;
  input{
    height: 27px;
    width: 340px;
  }
  div{
    margin: 15px 35px;
    text-align: center;
    &:last-child{
      text-align: inherit;
      margin-top: 30px;
      padding: 0 6px;
    }
  }
  h2{
    padding: 20px 0 0 0;
  }
  button{
    float: left;
  }
  a{
    float: right;
    font-size: 15px;
    padding-top: 10px;
  }
}

.login{
  height: 280px;
  margin: 10% auto 0;
}