@patronus: #5D8CAE;
@porcelain: #F2F1EF;
@patronus-shade: #EDEEF0;
@filch: #6C7A89;
@white: #fff;
@black: #000;
@unimportant: #7f8c8d;
@akcio : #BFBFBF;
@crimson-red: #D24D57;
@silver: #BDC3C7;
@jungle: #2ABB9B;


@font-face {
  font-family: 'Roboto Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}

body{
  background: @porcelain;
  font-family: "Roboto Regular" !important;
}

.login, .register{
  background: #fff;
  width: 350px;
  height: auto;
  margin: 3% auto;
  padding: 40px 50px;
  text-align: center;
}

input, select{
  height: 35px;
  width: 300px;
  font-size: 16px;
  padding: 5px 15px;
  margin: 10px;
  background: @patronus-shade;
  border: 0;
  color: @filch;
  -webkit-box-shadow: inset 0 0 0 50px @patronus-shade;
  -webkit-text-fill-color: @filch;
  font-family: "Roboto Regular" !important;
  &:focus{
    border: 0 !important;
    outline-width: 0 !important;
    border-top: 1px solid @filch;
  }
}

select{
  height: 45px;
  width: 330px;
  cursor: pointer;
}

button{
  color: @white;
  background: @patronus;
  border: 0;
  margin: 10px;
  height: 45px;
  width: 330px;
  font-size: 16px;
  font-family: "Roboto Regular" !important;
  cursor: pointer;
  &:hover{
    background: @black;
  }
}

.logo, .register-logo{
  width: auto;
  height: auto;
  margin-top: -10px;
}
.logo{
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 5px;
}
.register-logo{
  max-height: 50px;
  max-width: 50px;
}

.university{
  font-size: 10px;
  line-height: 15px;
  color: @unimportant;
  margin-bottom: 25px;
}

.header, .head{
  margin-bottom: 20px;
  color: @filch;
  font-size: 23px;
}
.header{
  margin-top: 35px;
}
.head{
  margin-top: 20px;
}

.not-registered{
  margin-top: 7px;
  span{
    color: @unimportant;
    font-size: 13px;
  }
  a{
    text-decoration: none;
    color: @patronus;
    font-weight: bold;
    font-size: 14px;
  }
}