@white: #fff;
@black: #000;
@normal-grey: #d3d3d3;
@light-grey: #e4e4e4;
@body-green: #4aa272;
@body-red: #d32f2f;
@turquoise: #1abc9c;
@greensea: #16a085;
@emerland: #2ecc71;
@nephritis: #27ae60;
@peterriver: #3498db;
@belizehole: #2980b9;
@amethyst: #9b59b6;
@wisteria: #8e44ad;
@sunflower: #f1c40f;
@orange: #f39c12;
@carrot: #e67e22;
@pumpkin: #d35400;
@alizarin: #e74c3c;
@pomegranade: #c0392b;
@clouds: #ecf0f1;
@silver: #bdc3c7;
@concrete: #95a5a6;
@asbestos: #7f8c8d;
@wetasphalt: #34495e;
@midnightblue: #2c3e50;

@font-face {
  font-family: 'Roboto Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.ttf');
}

body{
  font-family: 'Roboto Regular';
  margin:0;
}

.clear{
  clear: both;
}
.display-none{
  display: none;
}

.border-radius(@radius){
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.transition(){

}

button{
  height: 40px;
  width: 150px;
  color: @clouds;
  background: @nephritis;
  border: 0;
  font-size: 16px;
  &:hover{
    background: @black;
  }
}
a{
  color: @black;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted @greensea;
  &:hover{
    color: @greensea;
  }
}
input{
  background: @white;
  border: 1px solid @normal-grey;
  padding: 20px;
  font-size: 15px;
  font-family: 'Roboto Regular';
}

select{
  width: 500px;
  height: 30px;
  background: @white;
  margin: 5px 0;
}

//table{
//  width: 100%;
//}

.pager-wrap{
  width: 100%;
  .pager{
    button{
      background: @peterriver;
      width:40px;
      &:hover{
        background: @black;
      }
    }
    .current{
      background: @black;
    }
    span{
      padding: 10px;
      font-weight: bold;
    }
  }
}


.fa {
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}