@import (less) "common.less";

@mild-black: #666666;

h1{line-height: 25px;}

.details.result-details{
  margin-top: -1%;
}
.details-row.float-buttons{
  min-height: 40px;
  button{
    float:right;
    margin: 0 1% 0 0;
  }
}
.details-column{
  margin: 1%;
}

.item{
  background: @patronus-shade;
  color: @filch;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 1px;
  font-size: 16px;
  &:hover{
    background: @patronus;
    color: @white;
    span{
      color: @white;
    }
  }
}

.item.test{
  background: @patronus-shade;
  background-image: linear-gradient(@patronus, @patronus);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size .4s, color 0s;
  span.start{
    display: none;
  }
  span.attempts{
    float: right;
  }

  &:hover{
    background-size: 100% 100%;
    color: @patronus;
    span{
      display: none;
    }
    span.start{
      display: block;
      width: 100%;
      text-align: center;
      color: @white;
    }
  }
}
.result{
  width:100%;
  margin: 1% 0;
  width: 100%;
  border:1px solid @akcio;
  cursor: pointer;
  &:hover{
    border: 1px solid @patronus;
  }
  &.current{
    border: 1px solid @patronus;
    background: @patronus;
    color: @white;
    label, span{
      color: @white;
    }
  }
}

.progressBar {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  div{
    position: relative;
    height: 100%;
    background-color: @patronus;
  }
  .progressText{
    color: @white;
    position: absolute;
    margin: 0 auto;
    top: -3px;
    font-size: 12px;
    left: 0;
    right: 0;
    background-color: transparent;
  }
}

.test-block{
  display: inline-block;
  float: left;
  width: 230px;
  margin: 2% 2%;
  cursor: pointer;
  .head{
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: @white;
    background: @patronus;
  }
  .body{
    height: 110px;
    background: @patronus-shade;
    .test{
      width: 100%;
      height: 70px;
      line-height: 85px;
      color: @patronus;
      font-size: 40px;
      text-align: center;
    }
    .sign{
      width: 100%;
      color: @filch;
      font-size: 14px;
      text-align: center;
      line-height: 14px;
    }
  }
  .footer{
    background: @akcio;
    width: 100%;
    height: 5px;
  }
  .progressText{
    display: none;
  }
}

.filter{
  input, select{
    height: 25px;
    font-size: 14px;
    padding: 5px 0 5px 0;
    text-indent: 10px;
    border: 1px solid @akcio;
    border-radius: 2px;
    color: @mild-black;
    font-family: "Roboto Regular" !important;
    &:focus{
      outline-width: 0 !important;
    }
  }
  input.height-35px{
    height: 35px;
  }
  select{
    padding: 2px;
    height: 35px;
    background: @white;
  }
  input[type=radio]+label{
    font-size: 14px;
    padding: 1px 0 0 30px !important;
    color: @mild-black;
  }
}

// --------- MODALS ---------- //
#question-details-modal{
  max-height: 450px;
  width: 700px;
  .modal-close{
    margin: 7px 6px 0 0;
  }
  .layer{
    max-height: 400px;
    overflow-y: auto;
  }
  span.info{
    white-space: pre-line;
  }
}
#confirm-test-start-modal{
  width: 450px;
  p{
    color: @unimportant;
    font-size: 12px;
    text-align: justify;
    padding: 15px 0;
  }
}
#change-user-password-modal input{
  background: @white;
  height: 30px;
  font-size: 15px;
  border:1px solid @akcio;
  width: 100%;
}

//--------MATERIALS-----//
.anchor-text{
  font-weight: bold;
  margin-left: 5px;
  font-size: large;
}

.materials-details{
  .materials-link {
    overflow: auto;
    .details-column {
      margin: 2% 2% 3% 2%;
      float: right;
    }
    .adder{
      color: @missnorris;
    }
    .current{
      color: @smth;
      border-bottom: 2px solid @smth;
    }
  }
  .themes{
    margin-top: -2px;
    .details-row{
      font-size: 16px;
      cursor: pointer;
      border-bottom: 1px solid @patronus-shade;
      padding: 5px;
      &:hover {
        background: @patronus-shade;
      }
    }
    .materials{
      margin: 30px auto;
      width: 95%;
    }
  }
}

table.werewolf.materials{
  width: 100%;
  border-spacing: 0;
  cursor: default;
  margin-top: -2px;
  thead tr th{
    color: @smth;
    background: @white;
    &:last-child {
      text-align: left;
    }
  }
  tr th{
    text-align: center;
    padding: 7px 15px;
    background: @light-smth;
    color: @smth;
  }
  tr {
    cursor: pointer;
    .material-type {
      color: @dark-gray;
      &.video:before {
        content: "\f008";
      }
      &.text:before{
        content: "\f15c";
      }
      &.audio:before {
        content: "\f001";
      }
      &.image:before {
        content: "\f03e";
      }
      &.other:before {
        content: "\f016";
      }
    }
    .empty{
      height: 50px;
      font-size: 15px;
    }
    &:hover{
      background: @patronus-shade;
      .actions{
        visibility: visible;
      }
    }
    td {
      border-bottom: 1px solid @patronus-shade;
      padding: 3px 15px;
      height: 40px;
      &:first-child {
        width: 15px;
        text-align: center;
      }
      &:nth-child(2) {
        width: 30px;
        text-align: center;
      }
    }
  }
}

.item{
  background: @patronus-shade;
  color: @filch;
  font-size: 16px;
  padding: 9px;
  cursor: pointer;
  margin: 1px 0;
  &:hover, &.current{
    background: @patronus;
    color: @white;
    span.tag{
      color: @white;
    }
  }
  &.no-hover{
    &:hover{
      background: @patronus-shade;
      color: @filch;
    }
  }
  span.tag{
    color: @patronus-shade;
    margin: 0 8px;
    font-size: 23px;
  }
}

.filter.theme{
  position: absolute;
}

.filter-block{
  input[type=text]{
    padding: 0;
    text-indent: 5px;
  }
}

.multimedia-modal{
  h3 {
    display: inline-block;
    & + .anchor-modal-text {
      display: inline-block;
      font-weight: bold;
      margin-left: 10px;
      color: @anchor;
    }
  }
  audio{
    width: 450px;
    margin-bottom: 30px;
  }
  &.video{
    width: 1000px;
    video{
      width: 950px;
      margin-bottom: 40px;
    }
  }
}

body{
  &.media{
    font-family: "Times New Roman" !important;
    .footer {
      display: none;
    }
    .menu{
      display: none;
    }
    .page-wrap:after{
      display: none;
    }
    padding-top: 50px;
    background: white;
  }
}